section.section
  .section__container
    .section__header
      h2.section__title
        i.icon-code
        span Instalação

    .section__row
      .section__content
        .section__box
          .section__box-header
            h2.section__box-title Cole este código no seu site
            h3.section__box-subtitle Cole este código antes da tag #{'</body>'} ou insira pelo gerenciado do seu site.

          .section__box-content
            .install
              textarea.install__code(rows="5" readonly)
                | <script>
                |   (function(w,i,d,g,e,t,s){t=i.createElement(g);t.async=1;t.defer=1;t.id='popwidget';
                |   t.dataset.store=d;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t,s);})
                |   (window,document,'1','script','https://popconvert.com.br/core/widget.js');
                | </script>

              button.install__button
                i.icon-copy
                span Copiar Código

            p
              | Este código é seguro e carrega de forma assíncrona, por isso não irá sobrecarregar seu site. Se você precisar de ajuda para instalar o código, acesse nosso <a href="user.support.html">suporte</a> ou fale consosco.
