section.section
  .section__container
    .section__header
      h2.section__title
        i.icon-meter
        span Dashboard

    .section__row
      .section__content
        .section__box.center
          .section__box-header
            h2.section__box-title Dados Brutos
            h3.section__box-subtitle leads capturados, taxa de conversão, receita de cupons e retorno sobre investimento.

          .section__box-content
            .dashboard__bubble
              .dashboard__bubble-item
                span.dashboard__bubble-item__value <span class="counter" data-count="1450">0</span>
                h2.dashboard__bubble-item__title Leads

              .dashboard__bubble-item
                span.dashboard__bubble-item__value <span class="counter" data-count="28">0</span>%
                h2.dashboard__bubble-item__title Conversão

              .dashboard__bubble-item
                span.dashboard__bubble-item__value R$ <span class="counter" data-count="100000">0</span>
                h2.dashboard__bubble-item__title Receita

              .dashboard__bubble-item
                span.dashboard__bubble-item__value <span class="counter" data-count="400">0</span>%
                h2.dashboard__bubble-item__title R.O.I

    .section__row
      .section__content
        .section__box.center
          .section__box-header
            h2.section__box-title Visitas/Conversão

          .section__box-content
            canvas#visitor

      .section__content
        .section__box.center
          .section__box-header
            h2.section__box-title Origem

          .section__box-content
            canvas#origin

