.account
  width: 100%
  position: relative

  &__plan
    width: 100%
    padding: 10px
    text-align: center
    position: relative
    border-radius: 6px
    margin-bottom: 30px
    display: inline-block
    color: $color-primary
    background-color: #fff
    border: 3px solid $color-primary

    +bp(sm)
      width: auto
      text-align: left

    &-item
      width: 100%
      position: relative

      & + &
        margin-top: 8px

      span
        width: 135px
        font-size: 14px
        text-align: left
        font-weight: bold
        display: inline-block
        text-transform: uppercase

      small
        width: 120px
        font-size: 16px
        margin-left: 8px
        text-align: left
        display: inline-block

        +bp(sm)
          width: auto

      a
        color: #fff
        font-size: 14px
        padding: 2px 5px
        margin-left: 5px
        user-select: none
        border-radius: 6px
        display: inline-block
        text-transform: lowercase
        background-color: $color-primary
        +transition(200ms)

        &:hover
          background-color: $color-secondary

  &__avatar
    top: 0
    right: 0
    position: absolute

    label
      cursor: pointer
      display: inline-block

    small
      width: 45px
      height: 45px
      overflow: hidden
      border-radius: 50px
      display: inline-block
      vertical-align: middle
      background-size: cover
      background-position: center
      border: 3px solid $color-primary
      background-image: url(../images/avatar.jpg)

      +bp(lg)
        width: 50px
        height: 50px

    span
      color: #fff
      display: none
      font-size: 16px
      cursor: pointer
      padding: 4px 8px
      margin-left: 5px
      user-select: none
      border-radius: 6px
      text-transform: lowercase
      background-color: $color-primary
      +transition(200ms)

      +bp(lg)
        display: inline-block

      &:hover
        background-color: $color-secondary

    input
      opacity: 0
      position: absolute
      pointer-events: none
