.payments
  width: 100%
  max-width: 100%
  background-color: transparent

  th
    font-size: 14px
    text-transform: uppercase

  th, td
    max-width: 0
    overflow: hidden
    padding: 12px 8px
    white-space: nowrap
    text-overflow: ellipsis

    +bp(sm)
      max-width: 100%

    +bp(lg)
      padding: 15px 8px

  tbody tr:nth-of-type(odd)
    background-color: $color-light-blue
