.plans
  width: 100%
  display: flex
  flex-wrap: wrap
  text-align: center
  justify-content: space-between

  +bp(lg)
    margin-top: -10px
    margin-left: -10px

  &__item
    width: 100%
    padding: 15px
    margin: 10px 0
    position: relative
    border-radius: 6px
    display: inline-block
    border: 3px solid #fff
    background-color: #fff
    box-shadow: 0 10px 40px 0 rgba($color-shadow, 0.07), 0 2px 9px 0 rgba($color-shadow, 0.06)

    +bp(md)
      margin: 10px
      width: calc(100% / 2 - 20px)

    +bp(xl)
      width: calc(100% / 3 - 20px)

    &.is-active
      border-color: $color-primary

    &-price
      font-size: 27px
      font-weight: bold
      margin-bottom: 15px

      span
        font-size: 18px
        margin-right: 5px
        font-weight: normal
        text-transform: uppercase

      small
        font-size: 17px
        margin-left: 5px
        font-weight: normal
        text-transform: lowercase

    &-title
      font-size: 20px
      font-weight: bold
      margin-bottom: 15px
      color: $color-primary
      text-transform: uppercase

    &-list
      width: 100%
      position: relative
      margin-bottom: 15px

      li
        display: block
        font-size: 18px
        padding: 10px 5px
        font-weight: normal
        text-transform: lowercase
        border-top: 2px solid $color-light

        &:last-child
          border-bottom: 2px solid $color-light

    &-button
      border: 0
      outline: 0
      color: #fff
      width: 100%
      font-size: 15px
      margin-top: 30px
      padding: 11px 12px
      border-radius: 6px
      text-align: center
      display: inline-block
      text-transform: uppercase
      background-color: $color-primary
      +transition(200ms)

      +bp(sm)
        width: auto

      +bp(lg)
        font-size: 16px

      &:hover
        background-color: $color-secondary

      &[disabled]
        cursor: default
        pointer-events: none
        background-color: $color-gray

      i
        font-size: 20px
        margin-right: 5px
        vertical-align: text-bottom
