section.auth
  img.auth__logo(src="assets/images/logo.svg", alt="logo")

  form.auth__form
    .auth__form-header
      h2.auth__form-title Esqueceu sua senha?
      h3.auth__form-subtitle Insira seu email para redefinir sua senha

    .auth__form-alert Essas credenciais não correspondem aos nossos registros.

    .auth__form-content
      .auth__form-row
        input.auth__form-input(type="email" name="email" placeholder="Email" required)

      button.auth__form-button(type="submit")
        i.icon-direction
        span Enviar

      p.auth__form-text Não tem uma conta ainda? <a class="auth__form-link" href="auth.register.html">Criar uma conta</a>
