section.auth
  img.auth__logo(src="assets/images/logo.svg", alt="logo")

  form.auth__form
    .auth__form-header
      h2.auth__form-title Faça login em sua conta
      h3.auth__form-subtitle Insira seu email e senha para entrar

    .auth__form-alert Essas credenciais não correspondem aos nossos registros.

    .auth__form-content
      .auth__form-row
        input.auth__form-input(type="email" name="email" placeholder="Email" required)

      .auth__form-row
        input.auth__form-input(type="password" name="password" placeholder="Senha" required)

      .auth__form-row
        label.auth__form-terms
          input.auth__form-terms__check(type="checkbox" name="remember" checked)
          .auth__form-terms__check-text Lembrar-me

        a.auth__form-link(href="auth.forgot.html") Esqueceu a senha?

      button.auth__form-button(type="submit")
        i.icon-lock-open
        span Entrar

      p.auth__form-text Não tem uma conta ainda? <a class="auth__form-link" href="auth.register.html">Criar uma conta</a>
