section.auth
  img.auth__logo(src="assets/images/logo.svg", alt="logo")

  form.auth__form
    .auth__form-header
      h2.auth__form-title Criar uma conta
      h3.auth__form-subtitle Insira seus dados para cadastrar

    .auth__form-alert Essas credenciais não correspondem aos nossos registros.

    .auth__form-content
      .auth__form-row
        input.auth__form-input(type="text" name="name" placeholder="Nome Completo" required)

      .auth__form-row
        input.auth__form-input(type="email" name="email" placeholder="Email" required)

      .auth__form-row
        input.auth__form-input(type="password" name="password" placeholder="Senha" required)

      .auth__form-row
        input.auth__form-input(type="password" name="password_confirmation" placeholder="Confirmar Senha" required)

      .auth__form-row
        label.auth__form-terms
          input.auth__form-terms__check(type="checkbox" name="terms")
          .auth__form-terms__check-text Eu aceito os <a class="auth__form-link" href="#">termos e condições</a>

      button.auth__form-button(type="submit")
        i.icon-checkmark
        span Registrar

      p.auth__form-text Já tem uma conta? <a class="auth__form-link" href="auth.login.html">Entrar</a>
