section.auth
  img.auth__logo(src="assets/images/logo.svg", alt="logo")

  form.auth__form
    .auth__form-header
      h2.auth__form-title Redefinir Senha
      h3.auth__form-subtitle Insira uma nova senha para redefinir

    .auth__form-alert Essas credenciais não correspondem aos nossos registros.

    .auth__form-content
      input(type="hidden" name="token" value="#")

      .auth__form-row
        input.auth__form-input(type="email" name="email" placeholder="Email" required)

      .auth__form-row
        input.auth__form-input(type="password" name="password" placeholder="Nova Senha" required)

      .auth__form-row
        input.auth__form-input(type="password" name="password_confirmation" placeholder="Confirmar Nova Senha" required)

      button.auth__form-button(type="submit")
        i.icon-clockwise
        span Redefinir Senha
