section.auth
  img.auth__logo(src="assets/images/logo.svg", alt="logo")

  .auth__form
    .auth__form-header
      h2.auth__form-title Verifique seu Email

    .auth__form-alert Um novo link de verificação foi enviado para seu email.

    .auth__form-content
      p.auth__form-text Antes de prosseguir, verifique seu email em busca de um link de verificação.
      p.auth__form-text Se você não recebeu o email <a class="auth__form-link" href="#">Clique aqui</a>
