.install
  width: 100%
  position: relative

  &__code
    border: 0
    outline: 0
    width: 100%
    resize: none
    padding: 12px
    font-size: 14px
    line-height: 18px
    margin-bottom: 8px
    position: relative
    border-radius: 6px
    border: 2px solid $color-primary
    background-color: $color-light-blue
    font-family: monospace, Courier New

  &__button
    border: 0
    outline: 0
    color: #fff
    width: 100%
    font-size: 15px
    padding: 11px 12px
    border-radius: 6px
    text-align: center
    margin-bottom: 8px
    display: inline-block
    text-transform: uppercase
    background-color: $color-primary
    +transition(200ms)

    +bp(sm)
      width: auto

    +bp(lg)
      top: 0
      right: 0
      z-index: 1
      position: absolute
      border-top-left-radius: 0
      border-bottom-right-radius: 0

    &:hover
      background-color: $color-secondary

    i
      font-size: 20px
      margin-right: 5px
      vertical-align: text-bottom
