header.header
  .header__container
    a.header__logo(href="index.html")
      img.header__logo-icon(src="assets/images/logo.svg", alt="logo")

    .header__box
      ul.header__menu
        li
          a.header__menu-item(href="index.html")
            i.icon-meter
            span Dashboard
        li
          a.header__menu-item(href="leads.html")
            i.icon-user-group
            span Leads
        li
          a.header__menu-item(href="coupons.html")
            i.icon-tags
            span Cupons
        li
          a.header__menu-item(href="install.html")
            i.icon-code
            span Instalação
        //- li
          a.header__menu-item(href="integration.html")
            i.icon-contract-2
            span Integração
        li
          a.header__menu-item(href="settings.html")
            i.icon-gear
            span Configuração

      .header__profile
        .header__profile-avatar(style="background-image")

        .header__profile-menu
          ul
            li
              a.header__profile-menu__item(href="user.account.html")
                i.icon-user
                span Minha Conta
            li
              a.header__profile-menu__item(href="user.payments.html")
                i.icon-card
                span Pagementos
            li
              a.header__profile-menu__item(href="user.plans.html")
                i.icon-jewel
                span Planos
            li
              a.header__profile-menu__item(href="user.support.html")
                i.icon-help
                span Suporte
            li
              .header__profile-menu__item(onclick="document.getElementById('logoutForm').submit(); return false;")
                i.icon-lock-open
                span Sair
                form.hidden#logoutForm

      .header__nav
        span
