ul.section__sidebar
  li
    a.section__sidebar-item(href="user.account.html")
      i.icon-user
      span Minha Conta
  li
    a.section__sidebar-item(href="user.payments.html")
      i.icon-card
      span Pagamentos
  li
    a.section__sidebar-item(href="user.plans.html")
      i.icon-jewel
      span Planos
  li
    a.section__sidebar-item(href="user.support.html")
      i.icon-help
      span Suporte
