section.section
  .section__container
    .section__header
      h2.section__title
        i.icon-tags
        span Cupons

    .section__row
      form.section__content
        .section__box.clean
          .section__box-content
            table.coupons
              thead
                tr
                  th Nome
                  th Cupom
                  th Chance
                  th.hidden-sm-down %

              tbody
                each val, index in [1,2,3,4,5,6]
                  tr
                    td
                      input(name="coupon_name[]" placeholder="Nome do Cupom" value="20%")
                    td
                      input(name="coupon_value[]" placeholder="Código do Cupom" value="VALE20")
                    td
                      select(name="coupon_chance[]")
                        option(selected) 0
                        option  10
                        option  20
                        option  30
                        option  40
                        option  50
                        option  60
                        option  70
                        option  80
                        option  90
                        option  100
                    td.hidden-sm-down
                      small 0.00%

        button.section__box-button(type="submit")
          i.icon-checkmark
          span Salvar Alterações
