@font-face
  font-family: "Fabriga"
  src: local("Fabriga Light"), local("Fabriga-Light"),
  url("../fonts/Fabriga-Light.woff") format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: "Fabriga"
  src: local("Fabriga Regular"), local("Fabriga-Regular"),
  url("../fonts/Fabriga-Regular.woff") format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Fabriga"
  src: local("Fabriga Medium"), local("Fabriga-Medium"),
  url("../fonts/Fabriga-Medium.woff") format("woff")
  font-weight: 500
  font-style: normal

@font-face
  font-family: "Fabriga"
  src: local("Fabriga Bold"), local("Fabriga-Bold"),
  url("../fonts/Fabriga-Bold.woff") format("woff")
  font-weight: bold
  font-style: normal

@font-face
  font-family: "icons"
  src: url("../fonts/icons.woff") format("woff")
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family: 'icons' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-close:before
  content: "\e9d1"

.icon-pointer:before
  content: "\e9d2"

.icon-facebook:before
  content: "\e900"

.icon-facebook-square:before
  content: "\e901"

.icon-google:before
  content: "\e902"

.icon-google-plus:before
  content: "\e903"

.icon-instagram:before
  content: "\e904"

.icon-messenger:before
  content: "\e905"

.icon-sharethis:before
  content: "\e906"

.icon-twitter:before
  content: "\e907"

.icon-whatsapp:before
  content: "\e908"

.icon-alarm:before
  content: "\e909"

.icon-align-center:before
  content: "\e90a"

.icon-align-justify:before
  content: "\e90b"

.icon-align-left:before
  content: "\e90c"

.icon-align-right:before
  content: "\e90d"

.icon-anchor:before
  content: "\e90e"

.icon-archive:before
  content: "\e90f"

.icon-arrow-down:before
  content: "\e910"

.icon-arrow-left:before
  content: "\e911"

.icon-arrow-right:before
  content: "\e912"

.icon-arrow-thin-down:before
  content: "\e913"

.icon-arrow-thin-left:before
  content: "\e914"

.icon-arrow-thin-right:before
  content: "\e915"

.icon-arrow-thin-up:before
  content: "\e916"

.icon-arrow-up:before
  content: "\e917"

.icon-article:before
  content: "\e918"

.icon-backspace:before
  content: "\e919"

.icon-basket:before
  content: "\e91a"

.icon-basketball:before
  content: "\e91b"

.icon-battery-empty:before
  content: "\e91c"

.icon-battery-full:before
  content: "\e91d"

.icon-battery-low:before
  content: "\e91e"

.icon-battery-medium:before
  content: "\e91f"

.icon-bell:before
  content: "\e920"

.icon-blog:before
  content: "\e921"

.icon-bluetooth:before
  content: "\e922"

.icon-bold:before
  content: "\e923"

.icon-bookmark:before
  content: "\e924"

.icon-bookmarks:before
  content: "\e925"

.icon-box:before
  content: "\e926"

.icon-briefcase:before
  content: "\e927"

.icon-brightness-low:before
  content: "\e928"

.icon-brightness-max:before
  content: "\e929"

.icon-brightness-medium:before
  content: "\e92a"

.icon-broadcast:before
  content: "\e92b"

.icon-browser:before
  content: "\e92c"

.icon-browser-upload:before
  content: "\e92d"

.icon-brush:before
  content: "\e92e"

.icon-calendar:before
  content: "\e92f"

.icon-camcorder:before
  content: "\e930"

.icon-camera:before
  content: "\e931"

.icon-card:before
  content: "\e932"

.icon-cart:before
  content: "\e933"

.icon-checklist:before
  content: "\e934"

.icon-checkmark:before
  content: "\e935"

.icon-chevron-down:before
  content: "\e936"

.icon-chevron-left:before
  content: "\e937"

.icon-chevron-right:before
  content: "\e938"

.icon-chevron-up:before
  content: "\e939"

.icon-clipboard:before
  content: "\e93a"

.icon-clock:before
  content: "\e93b"

.icon-clockwise:before
  content: "\e93c"

.icon-cloud:before
  content: "\e93d"

.icon-cloud-download:before
  content: "\e93e"

.icon-cloud-upload:before
  content: "\e93f"

.icon-code:before
  content: "\e940"

.icon-contract:before
  content: "\e941"

.icon-contract-2:before
  content: "\e942"

.icon-conversation:before
  content: "\e943"

.icon-copy:before
  content: "\e944"

.icon-crop:before
  content: "\e945"

.icon-cross:before
  content: "\e946"

.icon-crosshair:before
  content: "\e947"

.icon-cutlery:before
  content: "\e948"

.icon-device-desktop:before
  content: "\e949"

.icon-device-mobile:before
  content: "\e94a"

.icon-device-tablet:before
  content: "\e94b"

.icon-direction:before
  content: "\e94c"

.icon-disc:before
  content: "\e94d"

.icon-document:before
  content: "\e94e"

.icon-document-delete:before
  content: "\e94f"

.icon-document-edit:before
  content: "\e950"

.icon-document-new:before
  content: "\e951"

.icon-document-remove:before
  content: "\e952"

.icon-dot:before
  content: "\e953"

.icon-dots-2:before
  content: "\e954"

.icon-dots-3:before
  content: "\e955"

.icon-download:before
  content: "\e956"

.icon-duplicate:before
  content: "\e957"

.icon-enter:before
  content: "\e958"

.icon-exit:before
  content: "\e959"

.icon-expand:before
  content: "\e95a"

.icon-expand-2:before
  content: "\e95b"

.icon-experiment:before
  content: "\e95c"

.icon-export:before
  content: "\e95d"

.icon-feed:before
  content: "\e95e"

.icon-flag:before
  content: "\e95f"

.icon-flashlight:before
  content: "\e960"

.icon-folder:before
  content: "\e961"

.icon-folder-open:before
  content: "\e962"

.icon-forward:before
  content: "\e963"

.icon-gaming:before
  content: "\e964"

.icon-gear:before
  content: "\e965"

.icon-graduation:before
  content: "\e966"

.icon-graph-bar:before
  content: "\e967"

.icon-graph-line:before
  content: "\e968"

.icon-graph-pie:before
  content: "\e969"

.icon-headset:before
  content: "\e96a"

.icon-heart:before
  content: "\e96b"

.icon-help:before
  content: "\e96c"

.icon-home:before
  content: "\e96d"

.icon-hourglass:before
  content: "\e96e"

.icon-inbox:before
  content: "\e96f"

.icon-information:before
  content: "\e970"

.icon-italic:before
  content: "\e971"

.icon-jewel:before
  content: "\e972"

.icon-lifting:before
  content: "\e973"

.icon-lightbulb:before
  content: "\e974"

.icon-link:before
  content: "\e975"

.icon-link-broken:before
  content: "\e976"

.icon-list:before
  content: "\e977"

.icon-loading:before
  content: "\e978"

.icon-location:before
  content: "\e979"

.icon-lock:before
  content: "\e97a"

.icon-lock-open:before
  content: "\e97b"

.icon-mail:before
  content: "\e97c"

.icon-map:before
  content: "\e97d"

.icon-media-loop:before
  content: "\e97e"

.icon-media-next:before
  content: "\e97f"

.icon-media-pause:before
  content: "\e980"

.icon-media-play:before
  content: "\e981"

.icon-media-previous:before
  content: "\e982"

.icon-media-record:before
  content: "\e983"

.icon-media-shuffle:before
  content: "\e984"

.icon-media-stop:before
  content: "\e985"

.icon-medical:before
  content: "\e986"

.icon-menu:before
  content: "\e987"

.icon-message:before
  content: "\e988"

.icon-meter:before
  content: "\e989"

.icon-microphone:before
  content: "\e98a"

.icon-minus:before
  content: "\e98b"

.icon-monitor:before
  content: "\e98c"

.icon-move:before
  content: "\e98d"

.icon-music:before
  content: "\e98e"

.icon-network-1:before
  content: "\e98f"

.icon-network-2:before
  content: "\e990"

.icon-network-3:before
  content: "\e991"

.icon-network-4:before
  content: "\e992"

.icon-network-5:before
  content: "\e993"

.icon-pamphlet:before
  content: "\e994"

.icon-paperclip:before
  content: "\e995"

.icon-pencil:before
  content: "\e996"

.icon-phone:before
  content: "\e997"

.icon-photo:before
  content: "\e998"

.icon-photo-group:before
  content: "\e999"

.icon-pill:before
  content: "\e99a"

.icon-pin:before
  content: "\e99b"

.icon-plus:before
  content: "\e99c"

.icon-power:before
  content: "\e99d"

.icon-preview:before
  content: "\e99e"

.icon-print:before
  content: "\e99f"

.icon-pulse:before
  content: "\e9a0"

.icon-question:before
  content: "\e9a1"

.icon-reply:before
  content: "\e9a2"

.icon-reply-all:before
  content: "\e9a3"

.icon-return:before
  content: "\e9a4"

.icon-retweet:before
  content: "\e9a5"

.icon-rocket:before
  content: "\e9a6"

.icon-scale:before
  content: "\e9a7"

.icon-search:before
  content: "\e9a8"

.icon-shopping-bag:before
  content: "\e9a9"

.icon-skip:before
  content: "\e9aa"

.icon-stack:before
  content: "\e9ab"

.icon-star:before
  content: "\e9ac"

.icon-stopwatch:before
  content: "\e9ad"

.icon-store:before
  content: "\e9ae"

.icon-suitcase:before
  content: "\e9af"

.icon-swap:before
  content: "\e9b0"

.icon-tag:before
  content: "\e9b1"

.icon-tag-delete:before
  content: "\e9b2"

.icon-tags:before
  content: "\e9b3"

.icon-thumbs-down:before
  content: "\e9b4"

.icon-thumbs-up:before
  content: "\e9b5"

.icon-ticket:before
  content: "\e9b6"

.icon-time-reverse:before
  content: "\e9b7"

.icon-to-do:before
  content: "\e9b8"

.icon-toggles:before
  content: "\e9b9"

.icon-trash:before
  content: "\e9ba"

.icon-trophy:before
  content: "\e9bb"

.icon-upload:before
  content: "\e9bc"

.icon-user:before
  content: "\e9bd"

.icon-user-group:before
  content: "\e9be"

.icon-user-id:before
  content: "\e9bf"

.icon-vibrate:before
  content: "\e9c0"

.icon-view-apps:before
  content: "\e9c1"

.icon-view-list:before
  content: "\e9c2"

.icon-view-list-large:before
  content: "\e9c3"

.icon-view-thumb:before
  content: "\e9c4"

.icon-volume-full:before
  content: "\e9c5"

.icon-volume-low:before
  content: "\e9c6"

.icon-volume-medium:before
  content: "\e9c7"

.icon-volume-off:before
  content: "\e9c8"

.icon-wallet:before
  content: "\e9c9"

.icon-warning:before
  content: "\e9ca"

.icon-web:before
  content: "\e9cb"

.icon-weight:before
  content: "\e9cc"

.icon-wifi:before
  content: "\e9cd"

.icon-wrong:before
  content: "\e9ce"

.icon-zoom-in:before
  content: "\e9cf"

.icon-zoom-out:before
  content: "\e9d0"
