body
  overflow-x: hidden
  color: $color-dark
  font-size: $font-size
  font-family: $font-primary
  background-color: $color-light-blue

.main
  padding-top: 80px

.overlay
  z-index: 8
  opacity: 0
  width: 100%
  height: 100%
  position: fixed
  cursor: pointer
  pointer-events: none
  background-color: rgba(#222, 0.5)
  +transition(400ms)

  +bp(lg)
    display: none

  &.is-active
    opacity: 1
    pointer-events: all
