=bp($value, $property: min)
  @each $breakpoint in $breakpoints
    $name: nth($breakpoint, 1)
    $size: nth($breakpoint, 2)
    @if ($value == $name)
      @media (#{$property}-width: $size)
        @content

=bpx($value, $property: min)
  @media (#{$property}-width: $value#{"px"})
    @content

=bph($value, $property: min)
  @media (#{$property}-height: $value#{"px"})
    @content

=placeholder()
  $placeholders: ':-moz' ':-webkit-input' '-moz' '-ms-input'
  @each $placeholder in $placeholders
    &:#{$placeholder}-placeholder
      @content

=ie()
  @media (-ms-high-contrast: none), (-ms-high-contrast: active)
    @content

=transition($value: 200ms, $property: all)
  transition: $value $property ease

=container($width: $max-width, $padding: 0 15px)
  width: 100%
  margin: 0 auto
  padding: $padding
  max-width: $width

=row
  display: flex
  flex-wrap: wrap
  flex-direction: row

=col
  %col-default
    flex-grow: 0
    display: flex
    flex-shrink: 0
    padding-left: 0.5rem
    padding-right: 0.5rem
    flex-direction: column

  %col-flex
    flex-grow: 1
    flex-basis: 0
    max-width: 100%

  @each $breakpoint in $breakpoints
    $name: nth($breakpoint, 1)
    $size: nth($breakpoint, 2)

    @for $i from 1 through 12
      &-#{$name}-#{$i}
        @extend %col-default

  @each $breakpoint in $breakpoints
    $name: nth($breakpoint, 1)
    $size: nth($breakpoint, 2)

    &-#{$name}
      @extend %col-flex

  @each $breakpoint in $breakpoints
    $name: nth($breakpoint, 1)
    $size: nth($breakpoint, 2)

    @media (min-width: $size)
      @for $i from 1 through 12
        &-#{$name}-#{$i}
          max-width: $i / 12 * 100%
          flex-basis: $i / 12 * 100%

=hidden
  display: none !important

  @each $breakpoint in $breakpoints
    $name: nth($breakpoint, 1)
    $size: nth($breakpoint, 2)

    @media (min-width: $size)
      &-#{$name}-up
        display: none !important

    @media (max-width: $size)
      &-#{$name}-down
        display: none !important

=fluid-video($width: null, $height: null)
  height: 0
  overflow: hidden
  position: relative

  @if ($width and $height)
    padding-bottom: percentage($height / $width)
  @else
    padding-bottom: 56.25%

  iframe,
  object,
  embed,
  video
    top: 0
    left: 0
    width: 100%
    height: 100%
    position: absolute

=center()
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

=centerX()
  left: 50%
  transform: translateX(-50%)

=centerY()
  top: 50%
  transform: translateY(-50%)
