*
  &,
  &:before,
  &:after
    box-sizing: inherit
    background-repeat: no-repeat

  &:before,
  &:after
    vertical-align: inherit
    text-decoration: inherit

html
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent

::-moz-selection
  background-color: #fff9cc

::selection
  background-color: #fff9cc

a
  text-decoration: none
  +transition(300ms)

ul
  list-style: none

iframe
  border: 0

svg
  fill: currentColor

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
  padding: 0

h1,
h2,
h3,
h4,
h5,
h6
  font-size: 100%
  font-weight: normal

audio,
embed,
canvas,
iframe,
object,
video,
img,
svg
  height: auto
  max-width: 100%
  vertical-align: middle

table
  border-spacing: 0
  border-collapse: collapse

td,
th
  padding: 0
  text-align: left

textarea
  resize: vertical

img,
iframe,
button
  user-select: none

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex]
  outline: 0
  font-family: inherit
  touch-action: manipulation

button,
select,
[type="button"],
[type="reset"],
[type="submit"],
[type="checkbox"],
[type="radio"],
[type="file"]
  cursor: pointer

[aria-busy="true"]
  cursor: progress

[aria-controls]
  cursor: pointer

[aria-hidden="false"][hidden]:not(:focus)
  clip: rect(0, 0, 0, 0)
  display: inherit
  position: absolute

[aria-disabled]
  cursor: default
