.sp-replacer
  padding: 4px
  border-radius: 4px
  background-color: #eee
  border: 1px solid $color-gray
  +transition(200ms)

  &:hover,
  &.sp-active
    border-color: $color-gray
    background-color: $color-gray

.sp-preview
  border: 0
  width: 20px
  height: 20px
  background-image: none

.sp-preview-inner
  border-radius: 4px

.sp-dd
  line-height: 17px

.sp-container
  border: 0
  padding: 0
  border-radius: 4px
  background-color: #fff
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.18)

.sp-button-container
  margin-top: 3px

.sp-input
  border: 1px solid #000

  &:focus
    border-color: #000

.sp-cancel
  border: 0
  line-height: 1
  font-size: 15px
  padding: 3px 5px
  border-radius: 4px
  color: #fff !important
  text-transform: lowercase
  font-family: $font-primary
  background-color: $color-danger
  +transition(200ms)

  &:hover
    color: #fff !important
    text-decoration: none
    background-color: lighten($color-danger, 5)

.sp-container button
  border: 0
  color: #fff
  padding: 5px
  line-height: 1
  font-size: 15px
  box-shadow: none
  text-shadow: none
  border-radius: 4px
  background-image: none
  text-transform: lowercase
  font-family: $font-primary
  background-color: $color-primary
  +transition(200ms)

  &:hover,
  &:active
    border: 0
    box-shadow: none
    text-shadow: none
    background-image: none
    background-color: lighten($color-primary, 5)
