.settings
  width: 100%
  height: 100%
  overflow: hidden
  padding-top: 70px
  position: relative
  padding-bottom: 60px

  +bp(lg)
    padding-top: 60px
    padding-bottom: 0
    height: calc(100vh - 80px)

  &__header
    left: 0
    bottom: 0
    z-index: 4
    width: 100%
    height: 60px
    display: flex
    padding: 0 15px
    position: fixed
    overflow: hidden
    align-items: center
    background-color: #fff
    justify-content: space-between
    box-shadow: 0 1px 5px 1px rgba(#000, 0.2)

    +bp(lg)
      top: 80px
      bottom: auto

    &-title
      display: none
      font-size: 22px
      font-weight: bold
      position: relative

      +bp(lg)
        display: block

      i
        font-size: 24px
        margin-right: 8px
        vertical-align: bottom

    &-button
      border: 0
      outline: 0
      width: 100%
      color: #fff
      padding: 12px
      line-height: 1
      font-size: 15px
      cursor: pointer
      user-select: none
      border-radius: 6px
      text-align: center
      display: inline-block
      text-transform: uppercase
      background-color: $color-primary
      +transition(200ms)

      +bp(lg)
        width: auto
        font-size: 16px

      &:hover
        background-color: $color-secondary

      &[disabled]
        cursor: default
        pointer-events: none
        background-color: $color-gray

      i
        font-size: 20px
        margin-right: 5px
        vertical-align: text-bottom

  &__row
    width: 100%
    height: 100%
    display: flex
    flex-wrap: wrap
    position: relative

    +bp(lg)
      flex-wrap: nowrap

  &__sidebar
    left: 0
    top: 80px
    z-index: 3
    width: 100%
    height: 70px
    display: flex
    flex-shrink: 0
    overflow: auto
    position: fixed
    user-select: none
    align-items: center
    justify-content: flex-start
    background-color: $color-primary

    +bp(lg)
      top: 0
      width: 80px
      height: 100%
      display: block
      position: relative

    +bp(xl)
      width: 90px

    &-item
      color: #fff
      width: 120px
      height: 100%
      display: flex
      flex-shrink: 0
      line-height: 1
      font-size: 16px
      cursor: pointer
      overflow: hidden
      text-align: center
      position: relative
      align-items: center
      flex-direction: column
      justify-content: center
      text-transform: lowercase
      +transition(200ms)

      +bpx(720)
        width: 20%

      +bp(lg)
        width: 100%
        height: auto
        display: block
        padding: 18px 0
        font-size: 17px

      &:hover,
      &.is-active
        color: $color-primary
        background-color: #fff

      i
        display: block
        font-size: 22px
        margin-bottom: 5px

        +bp(lg)
          font-size: 22px

      span
        width: 80px

  &__content
    z-index: 2
    width: 100%
    height: 100%
    flex-shrink: 0
    overflow: auto
    position: relative
    background-color: #fff

    +bp(lg)
      width: 380px
      box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2)

    +bp(xl)
      width: 420px

    +bpx(1500)
      width: 500px

    &-item
      height: 0
      opacity: 0
      width: 100%
      overflow: hidden
      position: absolute
      pointer-events: none

      &.is-active
        opacity: 1
        height: auto
        padding: 20px 10px
        position: relative
        pointer-events: all
        padding-bottom: 40px

  &__box
    width: 100%
    position: relative

    & + &
      margin-top: 40px

    &-header
      width: 100%
      position: relative
      margin-bottom: 20px

    &-title
      font-size: 20px
      font-weight: bold
      text-transform: uppercase

    &-subtitle
      font-size: 16px
      text-transform: lowercase

  &__scene
    width: 100%
    height: 100%
    display: none
    overflow: hidden
    position: relative
    background-color: $color-light-blue

    +bp(lg)
      display: flex
      align-items: center
      justify-content: center

    &.is-mobile &-frame
      width: 423px
      height: 735px
      background-image: url(../images/mobile-preview.png)

    &.is-mobile &-content
      top: 71px
      left: 29px
      width: 367px
      height: 570px
      position: absolute

    &-frame
      width: 100%
      height: 100%
      margin: auto
      position: relative
      background-size: cover
      background-position: center

    &-content
      top: 0
      left: 0
      z-index: 1
      width: 100%
      height: 100%
      margin: auto
      position: relative

    &-iframe
      border: 0
      outline: 0
      z-index: -1
      width: 100%
      height: 100%
      opacity: 0.4
      overflow: hidden
      position: absolute
      pointer-events: none

  &__browser
    width: 100%
    max-width: 450px
    overflow: hidden
    position: relative
    border-radius: 6px
    border: 4px solid $color-light
    background-color: $color-light

    +bp(lg)
      max-width: 100%

    &-header
      width: 100%
      padding: 10px
      overflow: hidden
      position: relative
      background-color: $color-light

      span
        margin-left: 18px
        position: relative
        background-color: #fdd800

        &,
        &:after,
        &:before
          width: 12px
          height: 12px
          border-radius: 50px
          display: inline-block

        &:after,
        &:before
          content: ""
          position: absolute

        &:after
          left: -5px
          background-color: #ed594a
          transform: translateX(-100%)

        &:before
          left: 5px
          background-color: #5ac05a
          transform: translateX(100%)

    &-content
      width: 100%
      height: 280px
      margin: 0 auto
      overflow: hidden
      position: relative
      background-color: #fff

      +bp(lg)
        height: 200px

      +bp(xl)
        height: 280px

  &__widget
    width: 100%
    margin-top: -10px
    user-select: none
    position: relative
    margin-bottom: -10px

    &-item
      margin: 10px 5px
      position: relative
      display: inline-block
      vertical-align: middle

      input
        opacity: 0
        position: absolute
        pointer-events: none

        &[value="1"] + span
          background-image: url(../images/icons/icon-1.png)

        &[value="2"] + span
          background-image: url(../images/icons/icon-2.png)

        &[value="3"] + span
          background-image: url(../images/icons/icon-3.png)

        &[value="4"] + span
          background-image: url(../images/icons/icon-4.png)

        &[value="5"] + span
          background-image: url(../images/icons/icon-5.png)

        &[value="6"] + span
          background-image: url(../images/icons/icon-6.png)

        &[value="7"] + span
          background-image: url(../images/icons/icon-7.png)

        &[value="8"] + span
          background-image: url(../images/icons/icon-8.png)

        &[value="9"] + span
          background-image: url(../images/icons/icon-9.png)

        &:disabled + span
          opacity: 0.5
          cursor: default
          pointer-events: none

        &:checked + span
          border-color: $color-primary

      span
        width: 55px
        height: 55px
        display: block
        cursor: pointer
        overflow: hidden
        position: relative
        border-radius: 50px
        background-size: 30px
        background-color: #fff
        background-position: center
        background-repeat: no-repeat
        border: 3px solid $color-gray
        +transition(300ms)

        &:hover
          border-color: $color-primary

  &__position
    width: 100%
    height: 100%
    overflow: hidden
    position: relative
    background-color: #fff

    input
      opacity: 0
      position: absolute
      pointer-events: none

      &[value="top-left"] + span
        top: 10px
        left: 10px

        +bp(xl)
          top: 20px
          left: 20px

      &[value="top-right"] + span
        top: 10px
        right: 10px

        +bp(xl)
          top: 20px
          right: 20px

      &[value="top-middle"] + span
        top: 10px
        left: 0
        right: 0

        +bp(xl)
          top: 20px

      &[value="middle-left"] + span
        top: 50%
        left: 10px
        margin-top: -20px

        +bp(xl)
          left: 20px
          margin-top: -25px

      &[value="middle-right"] + span
        top: 50%
        right: 10px
        margin-top: -20px

        +bp(xl)
          right: 20px
          margin-top: -25px

      &[value="bottom-left"] + span
        bottom: 10px
        left: 10px

        +bp(xl)
          bottom: 20px
          left: 20px

      &[value="bottom-right"] + span
        bottom: 10px
        right: 10px

        +bp(xl)
          bottom: 20px
          right: 20px

      &[value="bottom-middle"] + span
        bottom: 10px
        left: 0
        right: 0

        +bp(xl)
          bottom: 20px

      &:disabled + span
        opacity: 0.5
        cursor: default
        pointer-events: none

      &:checked + span
        border-color: $color-primary
        background-color: $color-primary

    span
      width: 45px
      height: 45px
      margin: auto
      cursor: pointer
      position: absolute
      border-radius: 50px
      background-color: #fff
      border: 3px dotted $color-gray
      +transition(200ms)

      +bp(lg)
        width: 40px
        height: 40px

      +bp(xl)
        width: 45px
        height: 45px

      &:hover
        border-color: $color-primary

  &__couponbar,
  &__positionbar
    width: 100%
    height: 100%
    overflow: hidden
    position: relative
    background-color: #fff

    input
      opacity: 0
      position: absolute
      pointer-events: none

      &[value="top"] + span
        top: 0

      &[value="bottom"] + span
        bottom: 0

      &:disabled + span
        opacity: 0.5
        cursor: default
        pointer-events: none

      &:checked + span
        background-color: $color-primary

    span
      left: 0
      color: #fff
      width: 100%
      margin: auto
      cursor: pointer
      font-size: 16px
      font-weight: bold
      padding: 13px 5px
      text-align: center
      position: absolute
      text-transform: lowercase
      background-color: $color-gray
      +transition(200ms)

      &:hover
        background-color: $color-primary

  &__games
    width: 100%
    margin-top: -10px
    user-select: none
    position: relative
    margin-bottom: -10px

    &-item
      margin: 10px 5px
      position: relative
      display: inline-block
      vertical-align: middle

      input
        opacity: 0
        position: absolute
        pointer-events: none

        &[value="wheel"] + div
          background-image: url(../images/games/wheel.png)

        &[value="reel"] + div
          background-image: url(../images/games/reel.png)

        &[value="fruit_ninja"] + div
          background-image: url(../images/games/fruit-ninja.png)

        &[value="top_gear"] + div
          background-image: url(../images/games/top-gear.png)

        &:disabled + div
          opacity: 0.5
          cursor: default
          pointer-events: none

        &:checked + div:before
          border-color: $color-primary

        &:checked + div span
          color: #fff
          transform: translateY(0)
          background-color: $color-primary

      &__box
        z-index: 1
        width: 80px
        height: 80px
        cursor: pointer
        overflow: hidden
        position: relative
        border-radius: 10px
        background-size: 60px
        background-color: #fff
        background-position: center
        background-repeat: no-repeat
        +transition(300ms)

        &:hover:before
          border-color: $color-primary

        &:hover span
          color: #fff
          transform: translateY(0)
          background-color: $color-primary

        &:before
          content: ""
          top: 0
          left: 0
          z-index: 1
          width: 100%
          height: 100%
          position: absolute
          border-radius: 10px
          border: 5px solid $color-gray
          +transition(300ms)

        span
          left: 0
          bottom: 4px
          width: 100%
          font-size: 15px
          overflow: hidden
          text-align: center
          position: absolute
          white-space: nowrap
          text-overflow: ellipsis
          text-transform: lowercase
          background-color: $color-gray
          transform: translateY(100%)
          +transition(300ms)

  &__params
    width: 100%
    position: relative

    &-item
      width: 100%
      position: relative

      & + &
        margin-top: 20px

    &-title
      font-size: 18px
      font-weight: bold
      margin-bottom: 10px
      text-transform: lowercase

    &-row
      width: 100%
      display: block
      position: relative

      & + &
        margin-top: 8px

    &-label
      cursor: pointer
      font-size: 18px
      position: relative
      text-transform: lowercase

      & > input
        outline: 0

        &[type="tel"]
          width: 50px
          font-size: 15px
          line-height: 25px
          text-align: center
          border-radius: 8px
          color: $color-gray
          pointer-events: none
          background-color: #fff
          border: 2px solid $color-gray

        &[type="radio"],
        &[type="checkbox"]
          opacity: 0
          position: absolute
          pointer-events: none

        &:checked ~ input
          pointer-events: all
          color: $color-primary
          border-color: $color-primary

        &:checked ~ span
          background-color: $color-primary

        &[type="checkbox"]:checked ~ span:before
          opacity: 1

        &[type="radio"]:checked ~ span:after
          opacity: 1

        &[type="radio"] ~ span
          border-radius: 50px

      span
        width: 16px
        height: 16px
        margin-right: 5px
        border-radius: 2px
        position: relative
        display: inline-block
        vertical-align: middle
        background-color: $color-gray
        +transition(200ms)

        &:before
          content: "\e935"
          left: 0
          right: 0
          bottom: 0
          opacity: 0
          color: #fff
          margin: auto
          font-size: 15px
          line-height: 16px
          text-align: center
          position: absolute
          font-family: "icons"
          +transition(200ms)

        &:after
          content: ""
          top: 0
          left: 0
          right: 0
          bottom: 0
          opacity: 0
          width: 6px
          height: 6px
          margin: auto
          position: absolute
          border-radius: 50px
          background-color: #fff
          +transition(200ms)

    &-inside
      width: 100%
      margin-top: 10px
      position: relative

      +bp(lg)
        padding-left: 20px

    &-button
      border: 0
      outline: 0
      color: #fff
      cursor: pointer
      font-size: 14px
      padding-left: 8px
      line-height: 35px
      user-select: none
      border-radius: 6px
      text-align: center
      padding-right: 12px
      display: inline-block
      text-transform: uppercase
      background-color: $color-primary
      +transition(200ms)

      &:hover
        background-color: $color-secondary

      &[disabled]
        cursor: default
        pointer-events: none
        background-color: $color-gray

      i
        font-size: 17px
        margin-right: 0
        vertical-align: text-bottom

  &__rewrites
    width: 100%
    position: relative

    &-item
      width: 100%
      position: relative
      margin-bottom: 15px

      select
        outline: 0
        width: 125px
        padding: 5px 0
        font-size: 15px
        margin-right: 5px
        text-indent: 12px
        text-align: center
        border-radius: 8px
        color: $color-primary
        background-color: #fff
        text-transform: lowercase
        border: 2px solid $color-primary

      span
        margin: 0 5px
        position: relative

        &:before
          content: "/"

          +bpx(1500)
            content: "seusite.com.br/"

      input
        outline: 0
        width: 160px
        font-size: 15px
        padding: 7px 10px
        border-radius: 8px
        color: $color-primary
        background-color: #fff
        text-transform: lowercase
        border: 2px solid $color-primary

        +bp(lg)
          width: 105px

        +bp(xl)
          width: 160px

      small
        width: 20px
        height: 20px
        cursor: pointer
        font-size: 20px
        overflow: hidden
        margin-left: 10px
        text-align: center
        border-radius: 50px
        color: $color-danger
        display: inline-block
        background-color: #fff
        transform: translateY(4px)
        +transition(200ms)

        &:hover
          color: #fff
          background-color: $color-danger

  &__switch
    width: 100%
    position: relative

    &-item
      width: 100%
      display: block
      font-size: 18px
      position: relative
      text-transform: lowercase

      & + &
        margin-top: 15px

      input[type="checkbox"]
        opacity: 0
        position: absolute
        pointer-events: none

        &:checked ~ input
          color: $color-primary
          border-color: $color-primary

        &:checked ~ label
          background-color: $color-primary

        &:checked ~ label:before
          left: 50%

      label
        width: 50px
        height: 25px
        padding: 2px
        cursor: pointer
        margin-right: 8px
        user-select: none
        position: relative
        border-radius: 50px
        display: inline-block
        vertical-align: middle
        background-color: $color-gray
        +transition(250ms)

        &:before
          content: ""
          left: 0
          width: 50%
          height: 100%
          display: block
          position: relative
          border-radius: 50px
          background-color: #fff
          +transition(250ms)

      input[type="tel"]
        width: 50px
        margin: 5px 0
        font-size: 15px
        line-height: 25px
        text-align: center
        border-radius: 8px
        color: $color-gray
        background-color: #fff
        border: 2px solid $color-gray

      small
        width: 100%
        display: block
        font-size: 15px
        margin-top: 2px
        position: relative
        text-transform: lowercase

  &__form
    width: 100%
    position: relative

    & + &
      margin-top: 20px

    &-title
      font-size: 18px
      font-weight: bold
      margin-bottom: 10px
      text-transform: lowercase

    &-row
      width: 100%
      display: block
      position: relative

      & + &
        margin-top: 20px

    &-textarea
      display: block
      padding-top: 20px
      position: relative

      textarea
        width: 100%
        height: 80px
        resize: none
        padding: 10px
        display: block
        max-width: 400px
        position: relative
        border-radius: 6px
        background-color: #fff
        border-top-left-radius: 0
        border: 3px solid $color-primary

        +bp(lg)
          height: 100px
          max-width: 100%

        +bp(xl)
          height: 80px

        &:disabled
          border-color: $color-gray

        &:disabled + small
          background-color: $color-gray

      small
        top: 0
        left: 0
        z-index: 1
        color: #fff
        font-size: 17px
        padding: 1px 8px
        user-select: none
        position: absolute
        display: inline-block
        text-transform: lowercase
        border-top-left-radius: 6px
        border-top-right-radius: 6px
        background-color: $color-primary

    &-input
      display: block
      padding-top: 20px
      position: relative

      input
        width: 100%
        padding: 10px
        display: block
        max-width: 400px
        position: relative
        border-radius: 6px
        background-color: #fff
        border-top-left-radius: 0
        border: 3px solid $color-primary

        +bp(lg)
          max-width: 100%

        &:disabled
          border-color: $color-gray

        &:disabled + small
          background-color: $color-gray

      small
        top: 0
        left: 0
        z-index: 1
        color: #fff
        font-size: 17px
        padding: 1px 8px
        user-select: none
        position: absolute
        display: inline-block
        text-transform: lowercase
        border-top-left-radius: 6px
        border-top-right-radius: 6px
        background-color: $color-primary

    &-color
      display: block
      position: relative

      input
        opacity: 0
        position: absolute
        pointer-events: none

        &:disabled + small
          color: $color-gray

      small
        font-size: 17px
        margin-left: 10px
        display: inline-block
        text-transform: lowercase

    &-image
      display: block
      position: relative

      &.is-close .icon-cross
        display: inline-block

      &.is-close .icon-photo-group
        display: none

      label
        display: inline-block

      input
        opacity: 0
        position: absolute
        pointer-events: none

        &:disabled + small
          color: $color-gray

      span
        width: 45px
        height: 30px
        cursor: pointer
        font-size: 18px
        line-height: 30px
        border-radius: 4px
        text-align: center
        position: relative
        display: inline-block
        vertical-align: middle
        background-color: #eee
        border: 1px solid $color-gray

        &:before
          top: 0
          left: 0
          right: 0
          bottom: 0
          margin: auto
          position: absolute

        &:hover
          border-color: $color-gray
          background-color: $color-gray

        &.icon-cross
          display: none

      small
        font-size: 17px
        margin-left: 10px
        display: inline-block
        text-transform: lowercase

  &__tabs
    width: 100%
    position: relative

  &__tab
    width: 100%
    position: relative

    &.is-active &-button
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
      background-color: $color-primary

    &.is-active &-content
      opacity: 1

    &:nth-child(1) &-content
      display: block

    & + &
      margin-top: 15px

    &-button
      color: #fff
      width: 100%
      padding: 10px
      line-height: 1
      display: block
      cursor: pointer
      user-select: none
      position: relative
      border-radius: 6px
      text-transform: uppercase
      background-color: $color-gray
      +transition(300ms, background-color)

      &:hover
        background-color: $color-primary

    &-content
      opacity: 0
      width: 100%
      display: none
      overflow: hidden
      padding: 20px 10px
      position: relative
      background-color: #fff
      border-bottom-left-radius: 6px
      border-bottom-right-radius: 6px
      border: 3px solid $color-primary
      +transition(300ms, opacity)

  &__devices
    display: none
    position: relative

    +bp(lg)
      display: inline-block

    &-item
      width: 45px
      padding: 8px 0
      font-size: 20px
      cursor: pointer
      overflow: hidden
      text-align: center
      position: relative
      border-radius: 6px
      color: $color-primary
      display: inline-block
      vertical-align: middle
      background-color: #fff
      border: 2px solid $color-primary
      box-shadow: 0 10px 40px 0 rgba($color-shadow, 0.07), 0 2px 9px 0 rgba($color-shadow, 0.06)
      +transition(200ms)

      &:hover,
      &.is-active
        color: #fff
        background-color: $color-primary

      &:before
        vertical-align: baseline

      & + &
        margin-left: 10px
