body
  overflow-x: hidden

.popconvert
  top: 0
  left: 0
  right: 0
  bottom: 0
  opacity: 0
  width: 100%
  height: 100%
  margin: auto
  z-index: 9999
  position: absolute
  overflow: hidden
  pointer-events: none
  font-family: $font-primary
  background-color: rgba(#222, 0.5)
  +transition(300ms)

  &, & *, & *:after, & *:before,
  &__widget, &__widget *, &__widget *:after, &__widget *:before,
  &__invite, &__invite *, &__invite *:after, &__invite *:before,
  &__invitebar, &__invitebar *, &__invitebar *:after, &__invitebar *:before,
  &__couponbar, &__couponbar *, &__couponbar *:after, &__couponbar *:before
    -webkit-tap-highlight-color: transparent
    box-sizing: border-box

  &.is-active
    opacity: 1
    pointer-events: all

  &.is-active &__modal
    transform: translateY(0)

    +bp(lg)
      transform: scale(1)

  &__close
    top: 12px
    right: 13px
    z-index: 10
    color: #fff
    cursor: pointer
    font-size: 22px
    position: absolute
    transition: 300ms transform ease

    +bp(sm)
      font-size: 24px

    &:hover
      transform: rotateZ(90deg)

  &__modal
    left: 0
    right: 0
    bottom: 0
    width: 95%
    height: 80%
    margin: auto
    z-index: 99999
    position: absolute
    max-width: 780px
    transform: translateY(30%)
    +transition(500ms)

    +bp(lg)
      top: 0
      height: 550px
      transform: scale(0.8)

    +bp(1500)
      height: 600px

    +bp(lg, max)
      +bph(580, max)
        height: 100%

      .popconvert__header
        height: 30%

      .popconvert__content
        height: 70%

      .popconvert__wheel
        max-width: 400px

  &__box
    width: 100%
    height: 100%
    overflow: hidden
    position: relative
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2)

    +bp(lg)
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px

  &__step
    top: 0
    left: 0
    opacity: 0
    width: 100%
    height: 100%
    position: absolute
    pointer-events: none
    +transition(500ms)

    &:nth-child(2) .popconvert__header
      background-size: 80%
      background-position: center top
      background-image: url(../images/win_header.svg)

    &.is-active
      opacity: 1
      pointer-events: all

    &.is-login .popconvert__login,
    &.is-login .popconvert__subtitle
      display: inline-block

    &.is-login .popconvert__form,
    &.is-login .popconvert__action
      display: none

    &.is-form .popconvert__form
      display: inline-block

    &.is-form .popconvert__login,
    &.is-form .popconvert__action,
    &.is-form .popconvert__subtitle
      display: none

  &__header
    width: 100%
    height: 40%
    color: #fff
    padding: 15px
    display: flex
    text-align: center
    position: relative
    align-items: center
    background-color: #000
    background-size: cover
    flex-direction: column
    justify-content: center
    background-position: center top

  &__content
    width: 100%
    height: 60%
    padding: 15px
    text-align: center
    position: relative
    background-color: #fff

  &__footer
    bottom: 0
    z-index: 10
    width: 100%
    display: none
    color: #34495E
    font-size: 14px
    font-weight: 300
    padding: 12px 5px
    text-align: center
    position: absolute
    background-color: #f3f3f3

    +bp(lg)
      display: block

  &__title
    font-size: 20px
    font-weight: 300
    line-height: 24px

    +bp(sm)
      font-size: 23px
      line-height: 28px

    +bp(md)
      font-size: 27px
      line-height: 30px

    +bp(lg)
      font-size: 30px
      line-height: 35px

    strong
      font-weight: bold

    small
      display: block

  &__subtitle
    bottom: 8px
    display: none
    font-size: 16px
    font-weight: 300
    position: absolute
    text-transform: uppercase

    +bp(md)
      font-size: 17px

  &__login
    width: 100%
    display: none
    position: relative

    &[disabled]
      opacity: 0.5
      pointer-events: none

    &-button
      width: 60px
      color: #fff
      margin: 0 auto
      cursor: pointer
      font-size: 16px
      padding: 14px 5px
      user-select: none
      text-align: center
      position: relative
      border-radius: 6px
      display: inline-block
      vertical-align: middle
      background-color: #000
      text-transform: uppercase
      +transition(200ms)

      +bp(md)
        width: 100%
        max-width: 160px

      +bp(xl)
        max-width: 180px

      &[data-provider="facebook"]
        background-color: #126ad3

        &:hover
          background-color: lighten(#126ad3, 5)

      &[data-provider="instagram"]
        background-color: #f64a91

        &:hover
          background-color: lighten(#f64a91, 5)

      &[data-provider="google"]
        background-color: #399af2

        &:hover
          background-color: lighten(#399af2, 5)

      &__icon
        font-size: 22px
        display: inline-block
        vertical-align: bottom

        +bp(md)
          margin-right: 8px

      &__text
        display: none
        line-height: 1
        vertical-align: text-top

        +bp(md)
          display: inline-block

      & + &
        margin-left: 10px

  &__form
    width: 100%
    display: none
    position: relative

    input
      border: 0
      outline: 0
      width: 100%
      color: #000
      line-height: 1
      font-size: 15px
      max-width: 200px
      padding: 12px 5px
      user-select: none
      text-align: center
      position: relative
      border-radius: 6px
      display: inline-block
      background-color: #fff
      border: 3px solid #000
      text-transform: uppercase

      +placeholder()
        color: #000

      &[readonly]
        opacity: 0.5
        pointer-events: none

    button
      border: 0
      outline: 0
      width: 60px
      color: #fff
      line-height: 1
      margin: 0 auto
      cursor: pointer
      font-size: 18px
      max-width: 200px
      padding: 15px 5px
      user-select: none
      text-align: center
      position: relative
      border-radius: 6px
      vertical-align: top
      display: inline-block
      background-color: #000
      text-transform: uppercase

      &[disabled]
        opacity: 0.5
        pointer-events: none

  &__action
    width: 100%
    position: relative

  &__scene
    margin-top: 30px
    position: relative

  &__button
    width: 100%
    color: #fff
    line-height: 1
    margin: 0 auto
    cursor: pointer
    font-size: 20px
    max-width: 200px
    padding: 15px 5px
    user-select: none
    text-align: center
    position: relative
    border-radius: 6px
    display: inline-block
    vertical-align: middle
    background-color: #000
    text-transform: uppercase

    &[disabled]
      opacity: 0.5
      pointer-events: none

  &__game
    width: 100%
    display: none
    position: relative

    &.is-active
      display: block

  &__coupon
    position: relative
    transform: translateY(-55px)

    +bp(lg)
      transform: translateY(-25%)

    &-box
      width: 100%
      height: 250px
      display: flex
      margin: 0 auto
      max-width: 500px
      min-height: 200px
      padding: 10px 50px
      position: relative
      margin-bottom: 20px
      border-radius: 28px
      align-items: center
      background-color: #fff
      flex-direction: column
      justify-content: space-around
      box-shadow: 0 0 29px 0 rgba(0,0,0,0.2)

      +bp(lg)
        max-width: 445px

      +bp(1500)
        height: 290px

      &:after,
      &:before
        content: ""
        top: 50%
        z-index: 2
        width: 53px
        height: 65px
        position: absolute
        display: inline-block
        background-color: #fff
        transform: translateY(-32px)

      &:after
        right: -13px
        border-top-left-radius: 90px
        border-bottom-left-radius: 90px
        box-shadow: inset 17px 0 10px rgba(0, 0, 0, 0.05)

      &:before
        left: -13px
        border-top-right-radius: 90px
        border-bottom-right-radius: 90px
        box-shadow: inset -17px 0 10px rgba(0, 0, 0, 0.05)

    &-title
      color: #000
      line-height: 1
      display: block
      font-size: 16px
      font-weight: normal
      white-space: nowrap
      word-break: break-all
      text-transform: uppercase
      transform: translateY(-18px)

      strong
        display: block
        font-size: 55px
        font-weight: bold
        margin-bottom: 5px
        text-transform: capitalize

        +bp(sm)
          font-size: 65px
          margin-bottom: 8px

        +bp(lg)
          font-size: 72px

    &-row
      top: 0
      bottom: 0
      height: 0
      width: 100%
      margin: auto
      position: absolute
      border-bottom: 2px dashed #ebebeb

    &-value
      color: #000
      line-height: 1
      display: block
      font-size: 14px
      font-weight: normal
      word-break: break-all
      text-transform: uppercase

      +bp(sm)
        font-size: 16px

      strong
        display: block
        font-size: 28px
        margin-top: 5px
        font-weight: bold
        text-transform: none

        +bp(sm)
          font-size: 32px
          margin-top: 8px

        +bp(lg)
          font-size: 36px

  &__wheel
    width: 100%
    height: auto
    margin: 0 auto
    max-width: 450px

    &-pointer
      left: 0
      right: 0
      top: -15px
      width: 32px
      color: #000
      margin: auto
      font-size: 32px
      position: absolute

  &__reel
    padding: 5px
    user-select: none
    position: relative
    border-radius: 15px
    display: inline-block
    border: 5px solid #000
    background-color: #fff
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4)

    &:before
      content: ""
      top: 0
      left: 0
      right: 0
      z-index: 2
      bottom: 22px
      width: 100%
      height: 3px
      opacity: 0.8
      margin: auto
      position: absolute
      background-color: red

    &-content
      width: 100%
      padding: 10px
      position: relative
      border-radius: 15px
      background-color: #000

    &-item
      color: #000
      height: 85px
      overflow: hidden
      text-align: center
      margin-bottom: -4px
      border-radius: 15px
      display: inline-block
      background-color: #fff

      +bp(sm)
        height: 120px

      & + &
        margin-left: 5px

        +bp(sm)
          margin-left: 10px

      &:nth-child(2) div
        bottom: 100%

      &:nth-child(3) div
        bottom: 200%

      &.is-active div
        bottom: 0

      div
        bottom: 0
        color: inherit
        position: relative

      small
        width: 90px
        height: 85px
        display: flex
        line-height: 1
        font-size: 14px
        font-weight: 400
        align-items: center
        flex-direction: column
        justify-content: center
        text-transform: uppercase

        +bp(sm)
          width: 130px
          height: 120px
          font-size: 18px

        strong
          display: block
          font-size: 26px
          font-weight: bold
          margin-bottom: 5px

          +bp(sm)
            font-size: 35px

  &__widget
    opacity: 0
    width: 60px
    height: 60px
    margin: auto
    z-index: 9997
    cursor: pointer
    position: absolute
    user-select: none
    border-radius: 50%
    pointer-events: none
    background-size: 35px
    background-color: #fff
    box-sizing: border-box
    font-family: $font-primary
    background-position: center
    background-repeat: no-repeat
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3)
    transform: translateY(-40px)
    +transition(500ms)

    &[data-icon="1"]
      background-image: url(../images/icons/icon-1.png)

    &[data-icon="2"]
      background-image: url(../images/icons/icon-2.png)

    &[data-icon="3"]
      background-image: url(../images/icons/icon-3.png)

    &[data-icon="4"]
      background-image: url(../images/icons/icon-4.png)

    &[data-icon="5"]
      background-image: url(../images/icons/icon-5.png)

    &[data-icon="6"]
      background-image: url(../images/icons/icon-6.png)

    &[data-icon="7"]
      background-image: url(../images/icons/icon-7.png)

    &[data-icon="8"]
      background-image: url(../images/icons/icon-8.png)

    &[data-icon="9"]
      background-image: url(../images/icons/icon-9.png)

    &[data-position="top-left"]
      top: 20px
      left: 20px

    &[data-position="top-right"]
      top: 20px
      right: 20px

    &[data-position="top-middle"]
      top: 20px
      left: 0
      right: 0

    &[data-position="middle-left"]
      top: 50%
      left: 20px
      margin-top: -30px

    &[data-position="middle-right"]
      top: 50%
      right: 20px
      margin-top: -30px

    &[data-position="bottom-left"]
      bottom: 20px
      left: 20px

    &[data-position="bottom-right"]
      bottom: 20px
      right: 20px

    &[data-position="bottom-middle"]
      bottom: 20px
      left: 0
      right: 0

    &[data-position="top-left"],
    &[data-position="middle-left"],
    &[data-position="bottom-left"]
      &:before
        left: -2px
        right: auto

      .popconvert__loader
        left: 70%
        right: auto

        &:before
          left: 10px
          right: auto
          border-left: 0
          border-right: 15px solid transparent

    &.is-active
      opacity: 1
      pointer-events: all
      transform: translateY(0)

    &.is-loading .popconvert__loader
      opacity: 1

      &-dot
        animation: jump 1.2s linear infinite

        &:nth-child(2)
          animation-delay: 100ms

        &:nth-child(3)
          animation-delay: 200ms

    &:before
      content: "1"
      top: -2px
      right: -2px
      z-index: 1
      color: #fff
      width: 20px
      height: 20px
      font-size: 12px
      font-weight: 700
      line-height: 20px
      text-align: center
      position: absolute
      border-radius: 50%
      box-sizing: border-box
      background-color: #dd3b3b

  &__loader
    opacity: 0
    top: -25%
    right: 70%
    width: 55px
    height: 30px
    margin: auto
    padding-top: 5px
    border-color: #ddd
    text-align: center
    position: absolute
    border-radius: 15px
    pointer-events: none
    background-color: #ddd
    +transition(300ms)

    &:before
      content: ""
      top: 90%
      right: 10px
      width: 0
      height: 0
      position: absolute
      border: 15px solid transparent
      border-top-color: inherit
      border-bottom: 0
      border-right: 0

    &-dot
      width: 7px
      height: 7px
      position: relative
      border-radius: 50px
      display: inline-block
      background-color: #808080

  &__invite
    opacity: 0
    width: 90%
    color: #fff
    height: 85px
    margin: auto
    z-index: 9998
    display: flex
    font-size: 16px
    position: absolute
    max-width: 400px
    overflow: hidden
    user-select: none
    padding: 5px 35px
    border-radius: 6px
    align-items: center
    pointer-events: none
    background-color: #000
    justify-content: center
    font-family: $font-primary
    transform: translateX(40px)
    transition: 500ms transform ease, 500ms opacity ease

    &[data-position="top-left"]
      top: 8px
      left: 15px

    &[data-position="top-right"]
      top: 8px
      right: 15px

    &[data-position="top-middle"]
      top: 8px
      left: 0
      right: 0

    &[data-position="middle-left"]
      top: 50%
      left: 15px
      transform: translateY(-50%) translateX(40px)

    &[data-position="middle-right"]
      top: 50%
      right: 15px
      transform: translateY(-50%) translateX(40px)

    &[data-position="bottom-left"]
      bottom: 8px
      left: 15px

    &[data-position="bottom-right"]
      bottom: 8px
      right: 15px

    &[data-position="bottom-middle"]
      bottom: 8px
      left: 0
      right: 0

    &.is-active
      opacity: 1
      pointer-events: all
      transform: translateX(0)

      &[data-position="middle-left"],
      &[data-position="middle-right"]
        transform: translateY(-50%) translateX(0)

    span
      cursor: pointer

    &-close
      top: 8px
      right: 10px
      cursor: pointer
      font-size: 15px
      position: absolute

  &__invitebar
    left: 0
    opacity: 0
    color: #fff
    width: 100%
    height: 45px
    z-index: 9997
    display: flex
    padding: 0 8px
    font-size: 15px
    position: absolute
    overflow: hidden
    user-select: none
    text-align: center
    align-items: center
    pointer-events: none
    background-color: #000
    justify-content: center
    font-family: $font-primary
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3)
    transition: 500ms transform ease, 500ms opacity ease

    +bp(sm)
      font-size: 17px

    &[data-position="top"]
      top: 0
      transform: translateY(-100%)

    &[data-position="bottom"]
      bottom: 0
      transform: translateY(100%)

    &.is-active
      opacity: 1
      pointer-events: all
      transform: translateY(0)

    span
      cursor: pointer

    &-close
      top: 0
      bottom: 0
      right: 10px
      height: 15px
      margin: auto
      font-size: 15px
      cursor: pointer
      position: absolute

  &__couponbar
    left: 0
    opacity: 0
    color: #fff
    width: 100%
    height: 45px
    z-index: 9998
    display: flex
    font-size: 15px
    position: absolute
    overflow: hidden
    text-align: center
    align-items: center
    pointer-events: none
    background-color: #000
    justify-content: center
    font-family: $font-primary
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3)
    transition: 500ms transform ease, 500ms opacity ease

    +bp(sm)
      font-size: 17px

    &[data-position="top"]
      top: 0
      transform: translateY(-100%)

    &[data-position="bottom"]
      bottom: 0
      transform: translateY(100%)

    &.is-active
      opacity: 1
      pointer-events: all
      transform: translateY(0)

    div + div
      margin-left: 10px
