.is-mobile
  .popconvert
    &.is-active .popconvert__modal
      transform: translateY(0)

    &__close
      font-size: 20px

    &__modal
      top: auto
      height: 80%
      transform: translateY(30%)

      .popconvert__header
        height: 30%

      .popconvert__content
        height: 70%

      .popconvert__wheel
        max-width: 400px

    &__box
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

    &__footer
      display: none

    &__title
      font-size: 20px
      line-height: 24px

    &__subtitle
      font-size: 16px

    &__login-button
      width: 60px
      max-width: 100%

    &__login-button__icon
      margin-right: 0

    &__login-button__text
      display: none

    &__coupon
      transform: translateY(-55px)

    &__coupon-box
      height: 250px
      max-width: 500px

    &__coupon-title strong
      font-size: 55px
      margin-bottom: 5px

    &__coupon-value
      font-size: 14px

    &__coupon-value strong
      font-size: 28px
      margin-top: 5px

    &__reel
      padding: 0

    &__reel-content
      border-radius: 0

    &__reel-item
      height: 85px


    &__reel-item small
      width: 90px
      height: 85px
      font-size: 14px

    &__reel-item small strong
      font-size: 26px

    &__invite
      width: 90%
      font-size: 15px
      max-width: 400px

    &__invitebar
      padding: 0 8px
      font-size: 15px

    &__couponbar
      font-size: 15px

  .popconvert__reel-item + .popconvert__reel-item
    margin-left: 5px
