section.section
  .section__container
    .section__header
      h2.section__title
        i.icon-user-group
        span Leads

      a.leads__button(href="#")
        i.icon-arrow-thin-down
        span Baixar CSV

    .section__row
      .section__content
        .section__box.clean
          .section__box-content
              table.leads
                thead
                  tr
                    th Nome
                    th Email
                    th.hidden-lg-down Origem
                    th.hidden-lg-down URL
                    th.hidden-md-down Data

                tbody
                  each val, index in [1,2,3]
                    tr
                      td
                        a(href="#")
                          small.leads__avatar
                          strong.leads__name Jason Kendall
                      td
                        span.leads__email tnt50@hotmail.com.br
                      td.hidden-lg-down
                        span.leads__origin.facebook
                      td.hidden-lg-down
                        span.leads__url /categoria/informatica/notebook
                      td.hidden-md-down
                        span.leads__date 10/22/2018

                  each val, index in [1,2,3]
                    tr
                      td
                        a(href="#")
                          small.leads__avatar
                          strong.leads__name Abraham Carvalho
                      td
                        span.leads__email abraham.carvalhoo@gmail.com
                      td.hidden-lg-down
                        span.leads__origin.instagram
                      td.hidden-lg-down
                        span.leads__url /categoria/moveis/sofa
                      td.hidden-md-down
                        span.leads__date 10/22/2018

                  each val, index in [1,2,3]
                    tr
                      td
                        a(href="#")
                          small.leads__avatar
                          strong.leads__name Abraham Carvalho Godoy
                      td
                        span.leads__email abraham.carvalhoo@hotmail.com
                      td.hidden-lg-down
                        span.leads__origin.google
                      td.hidden-lg-down
                        span.leads__url /produto/133280747/notebook-dell-inspiron-i15-3567-a30p-intel-core-7a-i5-4gb-1tb-tela-led-15-6-windows-10-preto
                      td.hidden-md-down
                        span.leads__date 10/22/2018

              ul.leads__pagination
                li.previous.disabled
                  a(href="#") Anterior
                li.is-active
                  a(href="#") 1
                li
                  a(href="#") 2
                li
                  a(href="#") 3
                li
                  a(href="#") 4
                li.next
                  a(href="#") Próximo
