section.settings
  .settings__header
    h2.settings__header-title
      i.icon-gear
      span Configurações

    .settings__devices
      span.settings__devices-item.icon-device-desktop.is-active(data-id="desktop")
      span.settings__devices-item.icon-device-mobile(data-id="mobile")

    .settings__header-button#submit_settings
      i.icon-checkmark
      span Salvar Alterações

  .settings__row
    .settings__sidebar
      .settings__sidebar-item.is-active(data-id="widget")
        i.icon-store
        span Widget

      .settings__sidebar-item(data-id="invite")
        i.icon-conversation
        span Convite

      .settings__sidebar-item(data-id="popup")
        i.icon-browser
        span Popup

      .settings__sidebar-item(data-id="bar_invite")
        i.icon-tag
        span Barra Convite

      .settings__sidebar-item(data-id="bar_coupon")
        i.icon-tag
        span Barra Cupom

    form.settings__content
      .settings__content-item#widget
        .settings__box
          .settings__box-header
            h2.settings__box-title Parâmetros
            h3.settings__box-subtitle Escolha os parâmetros ideais para você :)

          .settings__params
            .settings__params-item
              h4.settings__params-title Mostrar o widget?
              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_widget" value="never")
                  span
                  | Não

              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_widget" value="always" checked)
                  span
                  | Sim

              .settings__params-inside
                .settings__params-row
                  label.settings__params-label
                    input(type="checkbox" name="widget_time" value="1" checked)
                    span
                    | Depois de
                    input(type="tel" name="widget_time_value" value="2")
                    |   segundos

            .settings__params-item
              h4.settings__params-title mostrar/esconder em páginas especifica?
              .settings__rewrites
              .settings__params-button#add_rewrite
                i.icon-plus
                span Adicionar URL

        .settings__box
          .settings__box-header
            h2.settings__box-title Icones
            h3.settings__box-subtitle Escolha um dos icones que você gosta :)

          .settings__widget
            label.settings__widget-item
              input(type="radio" name="widget_icon" value="1" checked)
              span

            label.settings__widget-item
              input(type="radio" name="widget_icon" value="2")
              span

            label.settings__widget-item
              input(type="radio" name="widget_icon" value="3")
              span

            label.settings__widget-item
              input(type="radio" name="widget_icon" value="4")
              span

            label.settings__widget-item
              input(type="radio" name="widget_icon" value="5")
              span

            label.settings__widget-item
              input(type="radio" name="widget_icon" value="6")
              span

            label.settings__widget-item
              input(type="radio" name="widget_icon" value="7")
              span

            label.settings__widget-item
              input(type="radio" name="widget_icon" value="8")
              span

            label.settings__widget-item
              input(type="radio" name="widget_icon" value="9")
              span

        .settings__box
          .settings__box-header
            h2.settings__box-title Posição
            h3.settings__box-subtitle Escolha uma posição que fique perfeito no seu site :)

          .settings__browser
            .settings__browser-header
              span
            .settings__browser-content
              .settings__position
                label.settings__position-item
                  input(type="radio" name="widget_position" value="top-left")
                  span

                label.settings__position-item
                  input(type="radio" name="widget_position" value="top-right")
                  span

                label.settings__position-item
                  input(type="radio" name="widget_position" value="top-middle")
                  span

                label.settings__position-item
                  input(type="radio" name="widget_position" value="middle-left")
                  span

                label.settings__position-item
                  input(type="radio" name="widget_position" value="middle-right")
                  span

                label.settings__position-item
                  input(type="radio" name="widget_position" value="bottom-left")
                  span

                label.settings__position-item
                  input(type="radio" name="widget_position" value="bottom-right" checked)
                  span

                label.settings__position-item
                  input(type="radio" name="widget_position" value="bottom-middle")
                  span

      .settings__content-item#invite
        .settings__box
          .settings__box-header
            h2.settings__box-title Parâmetros
            h3.settings__box-subtitle Escolha os parâmetros ideais para você :)

          .settings__params
            .settings__params-item
              h4.settings__params-title Mostrar convite ao usuário?
              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_invite" value="never")
                  span
                  | Não

              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_invite" value="always" checked)
                  span
                  | Sim

            .settings__params-item
              h4.settings__params-title Após recusar, voltar a convidar?
              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_recuse" value="never")
                  span
                  | Não

              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_recuse" value="always" checked)
                  span
                  | Sim

              .settings__params-inside
                .settings__params-row
                  label.settings__params-label
                    input(type="checkbox" name="recuse_time" value="1" checked)
                    span
                    | Depois de
                    input(type="tel" name="recuse_time_value" value="2")
                    |   segundos

        .settings__box
          .settings__box-header
            h2.settings__box-title Design/Conteúdo
            h3.settings__box-subtitle Mostra um convite para chamar a atenção do usuário :)

          .settings__form
            .settings__form-row
              .settings__form-color
                input(type="text" name="color_invite" value="#fff")
                small Cor do Texto

            .settings__form-row
              .settings__form-color
                input(type="text" name="background_invite" value="#000")
                small Cor do Fundo

            .settings__form-row
              .settings__form-textarea
                textarea(name="invite_message" placeholder="Insira uma mensagem")
                  | Olá Usuário, você é bom em roleta? Te desafio a uma partida em troca de descontos especiais, Eai? vai afinar?
                small Mensagem

            .settings__form-row
              .settings__form-textarea
                textarea(name="recuse_message" placeholder="Insira uma mensagem")
                  | Você vai perder essa chance? ganhe até 50% de desconto em uma partida!
                small Mensagem após recusar

      .settings__content-item#popup
        .settings__box
          .settings__box-header
            h2.settings__box-title Parâmetros
            h3.settings__box-subtitle Escolha os parâmetros ideais para você :)

          .settings__params
            .settings__params-item
              h4.settings__params-title Mostrar o popup direto?
              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_popup" value="never" checked)
                  span
                  | Não

              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_popup" value="always")
                  span
                  | Sim

              .settings__params-inside
                .settings__params-row
                  label.settings__params-label
                    input(type="checkbox" name="popup_exit_intent" value="1")
                    span
                    | Quando o usuário está saindo do site

                .settings__params-row
                  label.settings__params-label
                    input(type="checkbox" name="popup_endpage" value="1")
                    span
                    | Quando o usuário chegar ao final da página

                .settings__params-row
                  label.settings__params-label
                    input(type="checkbox" name="popup_time" value="1")
                    span
                    | Depois de
                    input(type="tel" name="popup_time_value" value="5")
                    |   segundos

            .settings__params-item
              h4.settings__params-title Após jogar voltar a mostrar o popup?
              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="popup_back" value="never")
                  span
                  | Não

              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="popup_back" value="always" checked)
                  span
                  | Sim

              .settings__params-inside
                .settings__params-row
                  label.settings__params-label
                    input(type="checkbox" name="popup_back_time" value="1" checked)
                    span
                    | Depois de
                    input(type="tel" name="popup_back_time_value" value="1")
                    |   dias

        .settings__box
          .settings__box-header
            h2.settings__box-title Jogos
            h3.settings__box-subtitle Escolha um jogo que fique legal no seu site :)

          .settings__games
            label.settings__games-item
              input(type="radio" name="game" value="wheel" checked)
              .settings__games-item__box
                span Wheel

            label.settings__games-item
              input(type="radio" name="game" value="reel")
              .settings__games-item__box
                span Reel

            label.settings__games-item
              input(type="radio" name="game" value="fruit_ninja" disabled)
              .settings__games-item__box
                span Fruit Ninja

            label.settings__games-item
              input(type="radio" name="game" value="top_gear" disabled)
              .settings__games-item__box
                span Top Gear

        .settings__box
          .settings__box-header
            h2.settings__box-title Design
            h3.settings__box-subtitle Personalize do jeito que você gosta :)

          .settings__form
            .settings__form-row
              .settings__form-color
                input(type="text" name="color_header" value="#fff")
                small Cor de Texto do Topo

            .settings__form-row
              .settings__form-color
                input(type="text" name="background_header" value="#000")
                small Cor de Fundo do Topo

            .settings__form-row
              .settings__form-image
                label
                  input(type="file" name="image_header")
                  span.icon-photo-group
                span.icon-cross
                small Imagem de Fundo do Topo

            .settings__form-row
              .settings__form-color
                input(type="text" name="color_button" value="#fff")
                small Cor de Texto do Botão

            .settings__form-row
              .settings__form-color
                input(type="text" name="background_button" value="#000")
                small Cor de Fundo do Botão

            .settings__form-row
              .settings__form-color
                input(type="text" name="color_game" value="#000")
                small Cor de Texto do Jogo

            .settings__form-row
              .settings__form-color
                input(type="text" name="background_game" value="#c0c0c0")
                small Cor de Fundo do Jogo

        .settings__box
          .settings__box-header
            h2.settings__box-title Conteúdo
            h3.settings__box-subtitle Personalize do jeito que você gosta :)

          .settings__tabs
            .settings__tab.is-active(data-index="0")
              .settings__tab-button Tela Principal

              .settings__tab-content
                .settings__form
                  .settings__form-row
                    .settings__form-textarea
                      textarea(name="primary_title" placeholder="Insira uma mensagem")
                        | Você foi escolhido! Para uma grande chance de desconto
                      small Título

                  .settings__form-row
                    .settings__form-input
                      input(type="text" name="primary_subtitle" value="Para começar faça login")
                      small Subtítulo

                  .settings__form-row
                    .settings__form-input
                      input(type="text" name="primary_button" value="Iniciar")
                      small Botão

                  .settings__form-row
                    .settings__form-textarea
                      textarea(name="primary_footer" placeholder="Insira uma mensagem")
                        | De vez em quando, podemos enviar-lhe mais ofertas especiais. Você pode cancelar sua inscrição a qualquer momento.
                      small Rodapé

                  .settings__form-row
                    h4.settings__form-title Parâmetros
                    .settings__switch
                      .settings__switch-item
                        input#switch-1(type="checkbox" name="show_login_facebook" value="1" checked)
                        label(for="switch-1")
                        | Fazer login com <strong>facebook</strong>

                      .settings__switch-item
                        input#switch-2(type="checkbox" name="show_login_instagram" value="1" checked)
                        label(for="switch-2")
                        | Fazer login com <strong>instagram</strong>

                      .settings__switch-item
                        input#switch-3(type="checkbox" name="show_login_google" value="1" checked)
                        label(for="switch-3")
                        | Fazer login com <strong>google</strong>

            .settings__tab(data-index="1")
              .settings__tab-button Tela Ganhador

              .settings__tab-content
                .settings__form
                  .settings__form-row
                    .settings__form-input
                      input(type="text" name="secondary_title" value="Parabéns")
                      small Título

                  .settings__form-row
                    .settings__form-input
                      input(type="text" name="secondary_subtitle" value="Você ganhou!")
                      small Subtítulo

                  .settings__form-row
                    .settings__form-input
                      input(type="text" name="secondary_button" value="Finalizar")
                      small Botão

                  .settings__form-row
                    .settings__form-textarea
                      textarea(name="secondary_footer" placeholder="Insira uma mensagem")
                        | Para usar este desconto, adicione-o na finalização da compra.
                      small Rodapé

                  .settings__form-row
                    h4.settings__form-title Parâmetros
                    .settings__switch
                      .settings__switch-item
                        input#switch-5(type="checkbox" name="show_share" value="1" checked)
                        label(for="switch-5")
                        | compartilhar nas redes sociais

      .settings__content-item#bar_invite
        .settings__box
          .settings__box-header
            h2.settings__box-title Parâmetros
            h3.settings__box-subtitle Escolha os parâmetros ideais para você :)

          .settings__params
            .settings__params-item
              h4.settings__params-title Mostrar a barra convite?
              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_invitebar" value="never")
                  span
                  | Não

              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_invitebar" value="always" checked)
                  span
                  | Sim

        .settings__box
          .settings__box-header
            h2.settings__box-title Design/Conteúdo
            h3.settings__box-subtitle após recusar o convite ou não jogar,<br> mostrar uma barra para o usuário jogar mais tarde

          .settings__form
            .settings__form-row
              .settings__form-color
                input(type="text" name="color_invitebar" value="#fff")
                small Cor do Texto

            .settings__form-row
              .settings__form-color
                input(type="text" name="background_invitebar" value="#000")
                small Cor do Fundo

            .settings__form-row
              .settings__form-textarea
                textarea(name="invitebar_message" placeholder="Insira uma mensagem")
                  | Olá Usuário, olhei aqui que você não terminou o jogo, Eai? Bora Jogar?
                small Mensagem

        .settings__box
          .settings__box-header
            h2.settings__box-title Posição
            h3.settings__box-subtitle Escolha uma posição que fique perfeito no seu site :)

          .settings__browser
            .settings__browser-header
              span
            .settings__browser-content
              .settings__positionbar
                label.settings__positionbar-item
                  input(type="radio" name="invitebar_position" value="top")
                  span Topo

                label.settings__positionbar-item
                  input(type="radio" name="invitebar_position" value="bottom" checked)
                  span Rodapé

      .settings__content-item#bar_coupon
        .settings__box
          .settings__box-header
            h2.settings__box-title Parâmetros
            h3.settings__box-subtitle Escolha os parâmetros ideais para você :)

          .settings__params
            .settings__params-item
              h4.settings__params-title Mostrar a barra cupom?
              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_couponbar" value="never")
                  span
                  | Não

              .settings__params-row
                label.settings__params-label
                  input(type="radio" name="show_couponbar" value="always" checked)
                  span
                  | Sim

              .settings__params-inside
                .settings__params-row
                  label.settings__params-label
                    input(type="checkbox" name="couponbar_time" value="1" checked)
                    span
                    | expiração de
                    input(type="tel" name="couponbar_time_value" value="15")
                    |   minutos

        .settings__box
          .settings__box-header
            h2.settings__box-title Design/Conteúdo
            h3.settings__box-subtitle após jogar mostrar barra de expiração do cupom

          .settings__form
            .settings__form-row
              .settings__form-color
                input(type="text" name="color_couponbar" value="#fff")
                small Cor do Texto

            .settings__form-row
              .settings__form-color
                input(type="text" name="color_couponbarhight" value="#dd3b3b")
                small Cor do Texto Destaque

            .settings__form-row
              .settings__form-color
                input(type="text" name="background_couponbar" value="#000")
                small Cor do Fundo

            .settings__form-row
              .settings__form-input
                input(type="text" name="couponbar_message1" value="Seu código do cupom é")
                small Mensagem Cupom

            .settings__form-row
              .settings__form-input
                input(type="text" name="couponbar_message2" value="está reservado por")
                small Mensagem Expiração

        .settings__box
          .settings__box-header
            h2.settings__box-title Posição
            h3.settings__box-subtitle Escolha uma posição que fique perfeito no seu site :)

          .settings__browser
            .settings__browser-header
              span
            .settings__browser-content
              .settings__couponbar
                label.settings__couponbar-item
                  input(type="radio" name="couponbar_position" value="top")
                  span Topo

                label.settings__couponbar-item
                  input(type="radio" name="couponbar_position" value="bottom" checked)
                  span Rodapé

    .settings__scene
      .settings__scene-frame
        .settings__scene-content
          include /settings/popconvert
          iframe.settings__scene-iframe(src="http://sell2brazil.eu/fashion?popconvert=off" frameborder="0" scrolling="no")
