.popconvert
  .popconvert__modal
    .popconvert__close.icon-close
    .popconvert__box
      .popconvert__step.is-active
        .popconvert__header
          .popconvert__title Você foi escolhido! <br>Para uma grande chance de desconto
          .popconvert__subtitle Para começar faça login

        .popconvert__content
          .popconvert__login
            .popconvert__login-button(data-provider="facebook")
              .popconvert__login-button__icon.icon-facebook
              .popconvert__login-button__text Facebook

            .popconvert__login-button(data-provider="instagram")
              .popconvert__login-button__icon.icon-instagram
              .popconvert__login-button__text Instagram

            .popconvert__login-button(data-provider="google")
              .popconvert__login-button__icon.icon-google
              .popconvert__login-button__text Google

          form.popconvert__form
            input.popconvert__form-input(type="email" name="email" placeholder="Digite seu Email" required)
            button.popconvert__form-button(type="submit") OK

          .popconvert__action
            .popconvert__button#startButton Iniciar

          .popconvert__scene
            .popconvert__game#wheel
              canvas.popconvert__wheel#winWheel(width="450" height="450")
              .popconvert__wheel-pointer.icon-pointer

            .popconvert__game#reel
              .popconvert__reel
                .popconvert__reel-content
                  .popconvert__reel-item <div></div><div></div>
                  .popconvert__reel-item <div></div><div></div>
                  .popconvert__reel-item <div></div><div></div>

        .popconvert__footer De vez em quando, podemos enviar-lhe mais ofertas especiais. Você pode cancelar sua inscrição a qualquer momento.

      .popconvert__step
        .popconvert__header
          .popconvert__title
            strong Parabéns
            |
            |
            small Você ganhou!

        .popconvert__content
          .popconvert__coupon
            .popconvert__coupon-box
              .popconvert__coupon-title
                strong 20%
                |
                |
                span De Desconto
              .popconvert__coupon-row
              .popconvert__coupon-value
                span Seu código do cupom é:
                |
                |
                strong VALE_20

            .popconvert__action
              .popconvert__button#finishButton Finalizar

        .popconvert__footer Para usar este desconto, adicione-o na finalização da compra.

.popconvert__widget(data-icon="1" data-position="bottom-right")
  .popconvert__loader
    .popconvert__loader-dot
    .popconvert__loader-dot
    .popconvert__loader-dot

.popconvert__invite(data-id="invite" data-position="bottom-right")
  .popconvert__invite-close.icon-close
  span Olá Usuário, você é bom em roleta? Te desafio a uma partida em troca de descontos especiais, Eai? vai afinar?

.popconvert__invite(data-id="recuse" data-position="bottom-right")
  .popconvert__invite-close.icon-close
  span Você vai perder essa chance? ganhe até 50% de desconto em uma partida!

.popconvert__invitebar(data-position="bottom")
  .popconvert__invitebar-close.icon-close
  span Olá Usuário, olhei aqui que você não terminou o jogo, Eai? Bora Jogar?

.popconvert__couponbar(data-position="bottom")
  .popconvert__couponbar-value
    span Seu código do cupom é
    |
    |
    strong VALE_20

  .popconvert__couponbar-time
    span está reservado por
    |
    |
    strong 15m:00s
