.coupons
  width: 100%
  max-width: 100%
  background-color: transparent

  th
    font-size: 14px
    text-transform: uppercase

  th, td
    max-width: 0
    overflow: hidden
    padding: 12px 8px
    text-align: center
    white-space: nowrap
    text-overflow: ellipsis

    +bp(sm)
      max-width: 100%

    +bp(lg)
      padding: 15px

    &:nth-child(3),
    &:nth-child(3)
      width: 120px

    &:nth-child(4),
    &:nth-child(4)
      width: 90px

  tbody tr:nth-of-type(odd)
    background-color: $color-light-blue

  input
    outline: 0
    width: 100%
    line-height: 1
    font-size: 15px
    padding: 10px 8px
    border-radius: 6px
    color: $color-gray
    position: relative
    border: 2px solid $color-gray
    +transition(200ms)

    +placeholder()
      color: $color-gray

    &:focus
      color: $color-primary
      border-color: $color-primary

      +placeholder()
        color: $color-primary

    &.error
      color: $color-danger
      border-color: $color-danger

      +placeholder()
        color: $color-danger

      &:focus
        color: $color-danger
        border-color: $color-danger

        +placeholder()
          color: $color-danger

    &.success
      color: $color-success
      border-color: $color-success

      +placeholder()
        color: $color-success

      &:focus
        color: $color-success
        border-color: $color-success

        +placeholder()
          color: $color-success

  select
    outline: 0
    width: 100%
    padding: 8px 0
    font-size: 15px
    text-indent: 12px
    text-align: center
    border-radius: 6px
    color: $color-gray
    background-color: #fff
    text-transform: lowercase
    border: 2px solid $color-gray

    &:focus
      color: $color-primary
      border-color: $color-primary

      +placeholder()
        color: $color-primary

  small
    font-size: 16px
    font-weight: bold

  &__button
    border: 0
    outline: 0
    color: #fff
    width: 100%
    font-size: 15px
    margin-top: 20px
    padding: 11px 12px
    border-radius: 6px
    text-align: center
    display: inline-block
    text-transform: uppercase
    background-color: $color-primary
    +transition(200ms)

    +bp(sm)
      width: auto

    +bp(lg)
      font-size: 16px

    &:hover
      background-color: $color-secondary

    &[disabled]
      cursor: default
      pointer-events: none
      background-color: $color-gray

    i
      font-size: 20px
      margin-right: 5px
      vertical-align: text-bottom
