.section
  width: 100%
  padding: 40px 0
  position: relative

  &__container
    +container()
    position: relative

  &__header
    width: 100%
    display: flex
    position: relative
    margin-bottom: 20px
    align-items: center
    justify-content: space-between

  &__title
    font-size: 30px
    font-weight: bold
    position: relative

    +bp(lg)
      font-size: 32px

    i
      font-size: 26px
      margin-right: 8px

      +bp(lg)
        font-size: 32px
        vertical-align: bottom

  &__row
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: space-between

    +bp(lg)
      flex-direction: row

    & + &
      margin-top: 40px

  &__sidebar
    left: 0
    bottom: 0
    z-index: 5
    width: 100%
    display: flex
    position: fixed
    overflow: hidden
    user-select: none
    background-color: #fff
    justify-content: space-between
    box-shadow: 0 10px 40px 0 rgba($color-shadow, 0.07), 0 2px 9px 0 rgba($color-shadow, 0.06)

    +bp(lg)
      top: 95px
      display: block
      position: sticky
      max-width: 300px
      margin-right: 25px
      border-radius: 6px

    +bp(xl)
      max-width: 320px

    +ie()
      top: 0 !important
      position: relative

    li
      width: 100%
      display: block
      position: relative

      &.is-active a
        color: #fff
        background-color: $color-primary

    &-item
      width: 100%
      display: flex
      font-size: 14px
      overflow: hidden
      padding: 10px 5px
      font-weight: bold
      color: $color-dark
      text-align: center
      position: relative
      white-space: nowrap
      align-items: center
      flex-direction: column
      justify-content: center
      text-overflow: ellipsis
      text-transform: lowercase
      +transition(200ms)

      +bp(lg)
        display: block
        font-size: 15px
        text-align: left
        padding: 15px 30px
        text-transform: uppercase

      &:hover,
        color: #fff
        background-color: $color-primary

      i
        font-size: 22px
        margin-bottom: 3px

        +bp(lg)
          margin-bottom: 0
          margin-right: 12px
          vertical-align: text-top

      span
        width: 100%
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis

    & + div
      +bp(lg, max)
        padding-bottom: 60px

  &__content
    width: 100%
    position: relative

    & + &
      margin-top: 40px

      +bp(lg)
        margin-top: 0
        margin-left: 15px

  &__box
    width: 100%
    padding: 15px
    position: relative
    border-radius: 6px
    background-color: #fff
    box-shadow: 0 10px 40px 0 rgba($color-shadow, 0.07), 0 2px 9px 0 rgba($color-shadow, 0.06)

    &.center
      text-align: center

    &.clean
      padding: 0

    & + &
      margin-top: 40px

    &-header
      width: 100%
      position: relative
      margin-bottom: 30px

    &-title
      font-size: 22px
      font-weight: bold
      text-transform: uppercase

    &-subtitle
      font-size: 17px
      text-transform: lowercase

    &-content
      width: 100%
      position: relative

      h4
        margin: 20px 0
        font-size: 18px
        font-weight: bold
        text-transform: lowercase

      ol
        width: 100%
        position: relative
        padding-left: 15px
        margin-bottom: 20px

        li
          font-size: 16px
          line-height: 22px

          & + li
            margin-top: 5px

      p
        line-height: 22px

        & + p
          margin-top: 15px

    &-button
      border: 0
      outline: 0
      color: #fff
      width: 100%
      font-size: 15px
      margin-top: 30px
      padding: 11px 12px
      border-radius: 6px
      text-align: center
      display: inline-block
      text-transform: uppercase
      background-color: $color-primary
      +transition(200ms)

      +bp(sm)
        width: auto

      +bp(lg)
        font-size: 16px

      &:hover
        background-color: $color-secondary

      &[disabled]
        cursor: default
        pointer-events: none
        background-color: $color-gray

      &.is-danger
        background-color: $color-danger

        &:hover
          background-color: lighten($color-danger, 5)

      i
        font-size: 20px
        margin-right: 5px
        vertical-align: text-bottom

  &__form
    width: 100%
    position: relative

    &-box
      width: 100%
      position: relative

      & + &
        margin-top: 30px

    &-title
      font-size: 18px
      font-weight: bold
      margin-bottom: 15px
      color: $color-primary
      text-transform: lowercase

    &-row
      +row()
      user-select: none
      justify-content: space-between

      & + &
        margin-top: 20px

    &-input
      outline: 0
      width: 100%
      line-height: 1
      font-size: 15px
      padding: 10px 8px
      border-radius: 6px
      color: $color-gray
      position: relative
      border: 2px solid $color-gray
      +transition(200ms)

      +placeholder()
        color: $color-gray

      &:focus
        color: $color-primary
        border-color: $color-primary

        +placeholder()
          color: $color-primary

      &.error
        color: $color-danger
        border-color: $color-danger

        +placeholder()
          color: $color-danger

        &:focus
          color: $color-danger
          border-color: $color-danger

          +placeholder()
            color: $color-danger

      &.success
        color: $color-success
        border-color: $color-success

        +placeholder()
          color: $color-success

        &:focus
          color: $color-success
          border-color: $color-success

          +placeholder()
            color: $color-success

    &-text
      display: block
      font-size: 15px
      font-weight: bold
      margin-bottom: 5px
