section.section
  .section__container
    .section__row
      include /partials/sidebar-user

      .section__content
        form.section__box
          .section__box-header
            h2.section__box-title Minha Conta
            h3.section__box-subtitle Altere seus dados da conta :)

            .account__avatar
              label
                small
                span Alterar
                input(type="file" name="avatar")

          .account__plan
            .account__plan-item
              span Seu Plano
              small
                | bronze
                a(href="user.plans.html") Alterar

            .account__plan-item
              span Mensalidade
              small R$ 10/mês

            .account__plan-item
              span Próxima fatura
              small 10/12/2018

          .section__box-content
            .section__form-row
              .section__form-text Domínio do site
              input.section__form-input(type="text" name="domain" placeholder="Domínio do site" required)

            .section__form-row
              .section__form-text Nome Completo
              input.section__form-input(type="text" name="name" placeholder="Nome Completo" required)

            .section__form-row
              .section__form-text Email
              input.section__form-input(type="email" name="email" placeholder="Email" required)

            .section__form-row
              .section__form-text Senha
              input.section__form-input(type="password" name="password" placeholder="Senha")

            .section__form-row
              .section__form-text Confirmar Senha
              input.section__form-input(type="password" name="password_confirmation" placeholder="Confirmar Senha")

            button.section__box-button(type="submit")
              i.icon-checkmark
              span Salvar Alterações

        form.section__box
          .section__box-header
            h2.section__box-title Cancelar conta
            h3.section__box-subtitle Como cancelar sua conta e desinstalar o widget :(

          .section__box-content
            p
              | Por favor, esteja ciente de que o sistema de faturamento do Shopify, infelizmente, não libera automaticamente as cobranças se você desinstalar o aplicativo no meio de um período de faturamento. Por esse motivo, recomendamos que você entre em contato para cancelar sua assinatura, em vez de desinstalar o aplicativo por conta própria. Isso garante que você possa continuar usando o aplicativo até o restante do período de faturamento atual que já foi pago.

            h4 Como desinstalar o aplicativo

            ol
              li Entre na sua conta do Shopify.
              li Vá para a página Aplicativos no painel de administração do Shopify.
              li Encontre o aplicativo Spin-a-Sale na sua lista de aplicativos.
              li Clique no botão da lixeira à direita do aplicativo. Em seguida, clique no botão Excluir na tela de confirmação.

            p
              | Você também pode seguir as etapas na seção Desinstalar um aplicativo do Shopify aqui: <a href="https://help.shopify.com/manual/apps/working-with-apps#uninstall-an-app" target="_blank">https://help.shopify.com/manual/apps/working-with-apps#uninstall-an-app</a> para obter instruções gerais sobre como desinstalar um aplicativo .

            button.section__box-button.is-danger(type="submit" onclick="return confirm('Você Deseja Cancelar sua Conta?')")
              i.icon-cross
              span Cancelar Conta
