section.section
  .section__container
    .section__row
      include /partials/sidebar-user

      .section__content
        .section__box
          .section__box-header
            h2.section__box-title Pagamentos
            h3.section__box-subtitle Confira o histórico de pagamentos :)

          .section__box-content
            table.payments
              thead
                tr
                  th Plano
                  th.hidden-sm-down Forma de Pagamento
                  th Valor
                  th Data

              tbody
                each val in [1,2,3,4,5,6,7,8,9,10]
                  tr
                    td Bronze
                    td.hidden-sm-down MASTER •••• •••• •••• 5228
                    td R$ 10
                    td 10/11/2018
