section.section
  .section__container
    .section__row
      include /partials/sidebar-user

      .section__content
        .plans
          form.plans__item.is-active
            .plans__item-price
              span R$
              | 0
              small /mês

            h2.plans__item-title Atari

            ul.plans__item-list
              li Até 10 Leads
              li 0 centavos por lead

            button.plans__item-button(type="submit" disabled)
              i.icon-checkmark
              span Aplicar

          form.plans__item
            .plans__item-price
              span R$
              | 50
              small /mês

            h2.plans__item-title Master System

            ul.plans__item-list
              li Até 100 Leads
              li 50 centavos por lead

            button.plans__item-button(type="submit")
              i.icon-checkmark
              span Aplicar

          form.plans__item
            .plans__item-price
              span R$
              | 225
              small /mês

            h2.plans__item-title Mega Drive

            ul.plans__item-list
              li Até 500 Leads
              li 45 centavos por lead

            button.plans__item-button(type="submit")
              i.icon-checkmark
              span Aplicar

          form.plans__item
            .plans__item-price
              span R$
              | 400
              small /mês

            h2.plans__item-title GameBoy

            ul.plans__item-list
              li Até 1000 Leads
              li 40 centavos por lead

            button.plans__item-button(type="submit")
              i.icon-checkmark
              span Aplicar

          form.plans__item
            .plans__item-price
              span R$
              | 875
              small /mês

            h2.plans__item-title Super Nintendo

            ul.plans__item-list
              li Até 2500 Leads
              li 35 centavos por lead

            button.plans__item-button(type="submit")
              i.icon-checkmark
              span Aplicar

          form.plans__item
            .plans__item-price
              span R$
              | 1500
              small /mês

            h2.plans__item-title N64

            ul.plans__item-list
              li Até 5000 Leads
              li 30 centavos por lead

            button.plans__item-button(type="submit")
              i.icon-checkmark
              span Aplicar

          form.plans__item
            .plans__item-price
              span R$
              | 1875
              small /mês

            h2.plans__item-title NeoGeo

            ul.plans__item-list
              li Até 7500 Leads
              li 25 centavos por lead

            button.plans__item-button(type="submit")
              i.icon-checkmark
              span Aplicar

          form.plans__item
            .plans__item-price
              span R$
              | 2000
              small /mês

            h2.plans__item-title PlayStation

            ul.plans__item-list
              li Até 10000 Leads
              li 20 centavos por lead

            button.plans__item-button(type="submit")
              i.icon-checkmark
              span Aplicar

          form.plans__item
            .plans__item-price
              span R$
              | 3750
              small /mês

            h2.plans__item-title XBOX

            ul.plans__item-list
              li Até 25000 Leads
              li 15 centavos por lead

            button.plans__item-button(type="submit")
              i.icon-checkmark
              span Aplicar

          form.plans__item
            .plans__item-price
              span R$
              | 5000
              small /mês

            h2.plans__item-title PS4

            ul.plans__item-list
              li Até 50000 Leads
              li 10 centavos por lead

            button.plans__item-button(type="submit")
              i.icon-checkmark
              span Aplicar
