section.section
  .section__container
    .section__row
      include /partials/sidebar-user

      .section__content
        .section__box
          .section__box-header
            h2.section__box-title Suporte
            h3.section__box-subtitle Entre em contato com agente :)
