.dashboard
  width: 100%
  position: relative

  &__bubble
    width: 100%
    display: flex
    flex-wrap: wrap
    margin-top: -20px
    text-align: center
    position: relative
    align-items: center
    margin-bottom: -10px
    justify-content: space-around

    &-item
      margin: 20px
      width: 150px
      height: 150px
      display: flex
      border: 5px solid
      border-radius: 50%
      align-items: center
      flex-direction: column
      justify-content: center

      +bp(lg)
        width: 180px
        height: 180px

      +bp(xl)
        width: 200px
        height: 200px
        border: 8px solid

      &:nth-child(1)
        color: #633CEA
        border-color: #633CEA

      &:nth-child(2)
        color: #A430E9
        border-color: #A430E9

      &:nth-child(3)
        color: #3971E9
        border-color: #3971E9

      &:nth-child(4)
        color: #7505B8
        border-color: #7505B8

      &__value
        font-size: 22px
        font-weight: bold
        margin-bottom: 8px

        +bp(lg)
          font-size: 28px

      &__title
        font-size: 15px
        text-transform: uppercase

        +bp(lg)
          font-size: 18px
