.header
  top: 0
  left: 0
  z-index: 10
  width: 100%
  height: 80px
  position: fixed
  user-select: none
  background-color: $color-primary
  box-shadow: 0 1px 5px 1px rgba(#000, 0.1)

  &__container
    +container()
    height: 100%
    display: flex
    position: relative
    align-items: center
    justify-content: space-between

  &__logo
    position: relative
    display: inline-block

    &-icon
      color: #fff
      width: 80px
      height: 65px

  &__box
    position: relative

  &__menu
    right: 0
    top: 80px
    width: 260px
    height: 100%
    position: fixed
    background-color: #fff
    box-shadow: 0 10px 40px 0 rgba(#000, 0.1), 0 2px 9px 0 rgba(#000, 0.1)
    transform: translate3d(290px, 0, 0)

    +bp(lg)
      top: auto
      right: auto
      width: auto
      height: auto
      box-shadow: none
      position: relative
      display: inline-block
      vertical-align: middle
      background-color: transparent
      transform: translate3d(0, 0, 0)

    +bp(lg, max)
      +transition(500ms)

    &.is-active
      transform: translate3d(0, 0, 0)

    & > li
      display: block
      position: relative

      +bp(lg)
        display: inline-block
        vertical-align: middle

        & + li
          margin-left: 5px

    &-item
      padding: 20px
      display: block
      font-size: 15px
      color: $color-dark
      text-transform: uppercase
      +transition(200ms)

      +bp(lg)
        color: #fff
        height: 35px
        font-size: 17px
        padding: 0 10px
        min-width: 110px
        line-height: 34px
        text-align: center
        border-radius: 50px
        text-transform: capitalize

      +bp(xl)
        min-width: 120px

      &:hover,
      &.is-active
        color: #fff
        background-color: $color-secondary

        +bp(lg)
          color: $color-primary
          background-color: #fff

      i
        font-size: 20px
        margin-right: 6px
        vertical-align: text-bottom

  &__profile
    position: relative
    display: inline-block

    +bp(lg)
      margin-left: 15px

      &:hover &-menu
        opacity: 1
        pointer-events: all
        transform: translateY(-12px)

    +bp(xl)
      margin-left: 25px

    &.is-active &-menu
        opacity: 1
        pointer-events: all
        transform: translateY(-12px)

    &-avatar
      width: 45px
      height: 45px
      cursor: pointer
      overflow: hidden
      border-radius: 50px
      display: inline-block
      vertical-align: middle
      background-size: cover
      background-position: center
      background-image: url(../images/avatar.jpg)

    &-menu
      top: 100%
      right: -9px
      opacity: 0
      width: 200px
      padding-top: 20px
      position: absolute
      pointer-events: none
      transform: translateY(0)
      +transition(200ms)

      +bpx(1400)
        right: -30px

      ul
        overflow: hidden
        position: relative
        border-radius: 6px
        background-color: #fff
        box-shadow: 0 10px 40px 0 rgba(#000, 0.1), 0 2px 9px 0 rgba(#000, 0.1)

      li
        display: block
        position: relative

      &__item
        display: block
        cursor: pointer
        color: $color-dark
        padding: 10px 20px
        position: relative
        +transition(200ms)

        &:hover,
        &.is-active
          color: #fff
          background-color: $color-primary

        i
          font-size: 20px
          margin-right: 6px
          vertical-align: text-bottom

  &__nav
    z-index: 20
    width: 35px
    height: 35px
    cursor: pointer
    margin-left: 15px
    position: relative
    display: inline-block
    vertical-align: middle

    +bp(lg)
      display: none

    &.is-active span
      background-color: transparent

    &.is-active span:after,
    &.is-active span:before
      top: 0

    &.is-active span:after
      transform: rotate(45deg)

    &.is-active span:before
      transform: rotate(-45deg)

    span
      top: 0
      bottom: 0

      &,
      &:after,
      &:before,
        left: 0
        right: 0
        width: 36px
        height: 3px
        margin: auto
        position: absolute
        border-radius: 50px
        background-color: #fff
        +transition(200ms)

      &:after,
      &:before,
        content: ""

      &:after
        top: 10px

      &:before
        top: -10px
