.auth
  width: 100%
  height: 100%
  padding: 15px
  display: flex
  min-height: 100vh
  text-align: center
  position: relative
  align-items: center
  flex-direction: column
  justify-content: center
  background-color: $color-primary

  +ie()
    height: 100vh

  &__logo
    color: #fff
    width: 120px
    height: 100px
    position: relative
    margin-bottom: 20px

  &__form
    width: 100%
    padding: 30px
    margin: 0 auto
    max-width: 350px
    position: relative
    border-radius: 6px
    background-color: #fff
    box-shadow: 0 10px 40px 0 rgba(#000, 0.1), 0 2px 9px 0 rgba(#000, 0.1)

    &-header
      width: 100%
      position: relative
      margin-bottom: 20px

    &-title
      line-height: 1
      font-size: 20px
      font-weight: bold

    &-alert
      color: #fff
      padding: 8px
      user-select: none
      border-radius: 6px
      margin-bottom: 20px
      background-color: $color-primary

      &.info
        background-color: $color-info

      &.success
        background-color: $color-success

      &.warning
        background-color: $color-warning

      &.danger
        background-color: $color-danger

    &-content
      width: 100%
      position: relative

    &-row
      +row()
      user-select: none
      justify-content: space-between

      & + &
        margin-top: 15px

    &-input
      outline: 0
      width: 100%
      line-height: 1
      font-size: 15px
      padding: 10px 8px
      border-radius: 6px
      color: $color-gray
      position: relative
      border: 2px solid $color-gray
      +transition(200ms)

      +placeholder()
        color: $color-gray

      &:focus
        color: $color-primary
        border-color: $color-primary

        +placeholder()
          color: $color-primary

      &.error
        color: $color-danger
        border-color: $color-danger

        +placeholder()
          color: $color-danger

        &:focus
          color: $color-danger
          border-color: $color-danger

          +placeholder()
            color: $color-danger

      &.success
        color: $color-success
        border-color: $color-success

        +placeholder()
          color: $color-success

        &:focus
          color: $color-success
          border-color: $color-success

          +placeholder()
            color: $color-success

    &-terms
      position: relative

      &__check
        opacity: 0
        position: absolute
        pointer-events: none

        &:checked ~ &-text:before
          background-color: $color-primary

        &:checked ~ &-text:after
          opacity: 1

        &-text
          line-height: 1
          cursor: pointer
          font-size: 15px
          position: relative
          +transition(200ms)

          &:before
            content: ""
            width: 15px
            height: 15px
            margin-right: 5px
            border-radius: 2px
            display: inline-block
            vertical-align: bottom
            background-color: $color-gray
            +transition(200ms)

          &:after
            content: "\e935"
            left: 0
            opacity: 0
            color: #fff
            font-size: 15px
            position: absolute
            font-family: "icons"
            +transition(200ms)

    &-link
      line-height: 1
      font-size: 15px
      color: $color-primary

      &:hover
        color: $color-dark

    &-text
      line-height: 1
      font-size: 15px
      margin-top: 15px

    &-button
      border: 0
      outline: 0
      padding: 0
      color: #fff
      width: 100%
      font-size: 15px
      margin-top: 15px
      line-height: 42px
      font-weight: bold
      border-radius: 6px
      text-align: center
      text-transform: uppercase
      background-color: $color-primary
      +transition(200ms)

      +bp(lg)
        font-size: 16px

      &:hover
        background-color: $color-secondary

      i
        font-size: 20px
        margin-right: 5px
        vertical-align: text-bottom
