.leads
  width: 100%
  max-width: 100%
  background-color: transparent

  th
    font-size: 14px
    text-transform: uppercase

  th, td
    max-width: 0
    overflow: hidden
    padding: 12px 8px
    white-space: nowrap
    text-overflow: ellipsis

    +bp(sm)
      max-width: 100%

    +bp(lg)
      padding: 15px

    &:nth-child(5)
      width: 70px

  tbody tr:nth-of-type(odd)
    background-color: $color-light-blue

  &__avatar
    width: 45px
    height: 45px
    overflow: hidden
    margin-right: 8px
    border-radius: 50px
    display: inline-block
    vertical-align: middle
    background-size: cover
    background-position: center
    background-image: url(../images/avatar.jpg)

  a
    color: $color-dark
    display: inline-block
    +transition(200ms)

    &:hover
      color: $color-primary

  &__name
    font-size: 15px
    display: inline-block

  &__origin
    color: #fff
    width: 80px
    line-height: 1
    font-size: 14px
    padding: 4px 10px
    text-align: center
    border-radius: 6px
    display: inline-block
    background-color: #000

    &.facebook
      background-color: #126ad3

      &:before
        content: "facebook"

    &.instagram
      background-color: #f64a91

      &:before
        content: "instagram"

    &.google
      background-color: #399af2

      &:before
        content: "google"

  &__url
    width: 100%
    max-width: 180px
    overflow: hidden
    white-space: nowrap
    display: inline-block
    text-overflow: ellipsis

  &__pagination
    width: 100%
    padding: 15px 0
    text-align: center
    position: relative

    li
      position: relative
      display: inline-block

      & + li
        margin-left: 10px

      &.is-active a
        color: #fff
        font-weight: bold
        background-color: $color-primary

      &.disabled
        opacity: 0.5
        cursor: default
        pointer-events: none

      &.next a,
      &.previous a
        width: auto
        height: auto

    a
      width: 30px
      height: 30px
      display: block
      font-size: 16px
      line-height: 30px
      color: $color-dark
      text-align: center
      border-radius: 100%
      +transition(200ms)

      &:hover
        font-weight: bold
        color: $color-primary

  &__button
    border: 0
    outline: 0
    color: #fff
    width: auto
    font-size: 15px
    padding: 11px 12px
    border-radius: 6px
    text-align: center
    display: inline-block
    text-transform: uppercase
    background-color: $color-primary
    +transition(200ms)

    +bp(lg)
      font-size: 16px

    &:hover
      background-color: $color-secondary

    &[disabled]
      cursor: default
      pointer-events: none
      background-color: $color-gray
