doctype html
html(lang="pt-br")
  head
    block head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui")

    title #{title}
    meta(name="description", content=description)
    meta(property="og:type", content="website")
    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:url", content=site_url)
    meta(property="og:image", content=site_url+"/assets/images/social.jpg")

    meta(property="twitter:card", content="summary_large_image")
    meta(property="twitter:title", content=title)
    meta(property="twitter:description", content=description)
    meta(property="twitter:image", content=site_url+"/assets/images/social.jpg")

    meta(itemprop="name", content=title)
    meta(itemprop="description", content=description)
    meta(itemprop="image", content=site_url+"/assets/images/social.jpg")

    link(href="assets/images/touch/apple-touch-icon.png", rel="apple-touch-icon", sizes="180x180")
    link(href="assets/images/touch/favicon-32x32.png", rel="icon", type="image/png", sizes="32x32")
    link(href="assets/images/touch/favicon-16x16.png", rel="icon", type="image/png", sizes="16x16")
    link(href="assets/images/touch/safari-pinned-tab.svg", rel="mask-icon", color=color)
    link(href="manifest.json", rel="manifest")

    meta(name="msapplication-TileColor", content=color)
    meta(name="msapplication-tap-highlight", content="no")

    meta(name="theme-color", content=color)
    meta(name="application-name", content=title)
    meta(name="mobile-web-app-capable", content="yes")

    meta(name="format-detection", content="date=no")
    meta(name="format-detection", content="email=no")
    meta(name="format-detection", content="address=no")
    meta(name="format-detection", content="telephone=no")
    meta(name="apple-mobile-web-app-title", content=title)
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="skype_toolbar", content="skype_toolbar_parser_compatible")

    link(href="assets/stylesheets/app.css", rel="stylesheet")
  body
    h1.hidden #{title}
    .overlay

    include /partials/header

    block content_top

    main.main
      block content

    block content_bottom

    if production == "false"
      script(src="assets/javascripts/vendors.js")
      script(src="assets/javascripts/app.js")

    if production == "true"
      script(async, defer, src="assets/javascripts/app.js")
